.card.admin ul.options {
  margin-top: 20px;

  li {
    &:not(:first-child) {
      margin-top: 10px;
    }

    label {
      color: $admin-option-color;
      font:  $admin-option-font;
    }
  }
}
