/* This file has the styling for "card" divs, which are the main content
 * wielding sections of the page.
 */

.content .card {
  background-color: $card-bg;
  margin-top: 2px;
  padding: 20px 20px;
  position: relative;

  /* Cards with a 'min-height' class will be at least a certain height,
   * but may expand if more content is there
   */
  &.min-height{
    min-height: 600px;
  }

  /* Filled cards have content that go right to the edge */
  &.filled {
    padding: 0;

    > .container > h2 ,
    .tab-panel > h2 ,
    > h2 {
      padding: 20px;
      padding-bottom: 0;
    }

    > *:not(iframe):not(pre):not(.container):not(.tabs):not(.tab-panels):not(nav) {
      padding-left: 20px;
      padding-right: 20px;
    }

    > *:not(pre):not(iframe):not(.container):not(.tab-panels):last-child {
      padding-bottom: 20px;
    }

    > .img img {
      max-width: 100%;
    }

    &.collapsable.collapsed > h2 {
      padding-bottom: 20px;
    }
  }

  /* Terminals */
  .terminal {
    font: $code-font;
    background-color: $terminal-bg;
    color: $terminal-color;
    height: 385px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0px;
    white-space: nowrap;
  }

  /* Card Headers */
  > .container > h2 ,
  > h2 {
    color: $sub-header-color;
  }

  h3 {
    color: hsl(190, 30%, 35%);
  }

  .content > .card > ul {
    font-family: "Open Sans", sans;
    font-size:   14px;
    font-weight: 200;
    line-height: 1.2em;
    margin:      0;
  }
}
