/* Contains the color scheme for the site */

/* Site Palette */
$major-color: #103942;
$minor-color: white;
$accent-color: #c764d9;
$accent-color: #b481bd;
$focus-color: hsl(190, 60%, 50%); // For outlining focused input elements

/* Master */

$body-bg: hsl(190, 50%, 5%);
$input-disabled-bg: #ECECEC;

/* Top bar */

$top-bar-bg: rgb(237, 237, 237);

/* Navigation */

   $nav-username-color: #7600BD;
       $nav-link-color: rgb(48, 48, 48);
          $nav-link-bg: white;
$nav-link-border-color: #e8e8e8;

/* Headers */

$header-bg: $major-color;
$header-color: #f8f8f8;
$sub-header-color: #555;
$sub-sub-header-color: hsl(190, 30%, 55%);
$saving-flash-bg: hsl(190, 30%, 50%);
$saving-flash-color: white;
$error-flash-bg: hsl(0, 30%, 50%);
$error-flash-color: white;

/* Footers */

$footer-bg: $major-color;
$footer-color: #888;
$footer-line-color: #0C272D;
$footer-link-color: #C8C8C8;

/* Normal Content */

$paragraph-color: #222;
     $link-color: hsl(190, 60%, 45%);

/* Object Description */

$object-description-bg: hsl(190, 30%, 50%);
$object-description-color: white;
$object-type-color: #A2E6FC;
$object-sub-header-color: $accent-color;

/* Object Tags */
$object-tag-bg:           hsl(190, 50%, 90%);
$object-tag-border-color: hsl(190, 30%, 80%);
$object-tag-color:        hsl(190, 70%, 30%);
$object-tag-hover-color:  hsl(190, 70%, 50%);
$object-tag-hover-bg:     hsl(190, 50%, 90%);

/* History View */
$history-bg: white;
$history-message-color: black;
$history-author-color: black;
$history-date-color: black;

/* Workflow */

$workflow-label-type-color: #777;
$workflow-label-name-color: #888;

$workflow-input-type-color: #444;
$workflow-input-name-color: #444;

$workflow-context-menu-color: #888;

$workflow-line-color: hsl(180, 40%, 80%);
$workflow-object-border-color: #ddd;
$workflow-input-border-color: hsl(120, 30%, 60%);

$workflow-input-plus-bg: #A5D8A5;
$workflow-input-plus-border-color: #94DE9B;
$workflow-input-line-color: #D5EAEA;

/* Cards */

        $card-bg: #fff;
$card-blue-color: #fff;
   $card-blue-bg: hsl(230, 30%, 60%);
 $card-filled-bg: #fff;

/* Tabs */

$tab-strip-bg:              #e4e4e4;
$tab-strip-accent-color:    #ccc;

$tab-hover-bg:              $card-bg;
$tab-hover-accent-color:    $accent-color;

$tab-active-bg:             $card-bg;
$tab-active-accent-color:   $accent-color;

$tab-inactive-bg:           #efefef;
$tab-inactive-accent-color: #ddd;

$tab-bubble-bg:             white;

/* Terminal */

   $terminal-bg: #333;
$terminal-color: #ddd;

/* Expanders */

$expand-color: #555;

/* Code sections */

$code-color: #ddd;
   $code-bg: #333;

/* Results/Tabular content */

$supplement-color: #555; /* units, etc */
     $value-color: #222;
       $key-color: #450063;

/* Directory View */
$directory-normal-color:   $link-color;
$directory-linked-color:   hsl(290, 80%, 75%);
$directory-group-color:    $link-color;
$directory-size-color:     #888;
$directory-caption-color:  #555;
$directory-hover-bg:       #D5D7EF;
$directory-group-bg:       #f5f5ff;
$directory-revision-color: #888;

/* Selector */
$selector-bg:              white;
$selector-color:           #444;

/* Object Selection */
$object-selector-bg:       $selector-bg;
$object-selector-color:    $selector-color;

/* Test Viewer */
$test-viewer-header-color: $sub-header-color;
$test-viewer-method-color: $sub-sub-header-color;
$test-viewer-story-color: #333;

/* Roles */
$role-administrator-bg:   hsl(0,   36%, 44%);
$role-experimentalist-bg: hsl(303, 28%, 40%);

/* Admin Page */
$admin-option-color:      #555;

/* Pagination */
$pagination-bg:           #FAEAFA;
$pagination-border-color: #ddd;
