/* Font table for the site */

/* Navigation */

$nav-link-font: 12px "Open Sans", sans-serif;

/* Headers */

$header-font: 300 36px "Lato", sans-serif;
$sub-header-font: 300 20px "Lato", serif;
$sub-sub-header-font: 600 16px "Lato", serif;
$header-nav-font: 300 10pt "Lato", sans-serif;
$saving-flash-font: 300 14px "Open Sans", sans-serif;
$error-flash-font: 300 14px "Open Sans", sans-serif;

/* Footers */

$footer-font: 12px "Open Sans", sans-serif;

/* Normal Content */

$paragraph-font: 16px "Open Sans", sans-serif;

/* Objects */

$object-description-font: 300 14px "Open Sans", sans-serif;
$object-sub-header-font: 400 14px "Lato", serif;
$object-type-font: 400 16px "Marcellus SC", serif;

/* Object Tags */

$object-tag-font: 12px "Alegreya Sans SC", serif;

/* History view */
$history-message-font: 300  14px "Lato", serif;
$history-author-font:  bold 12px "Lato", serif;
$history-date-font:    300  12px "Lato", serif;

/* Main Tabs */

$tab-font:        300    14px "Lato", sans-serif;
$tab-active-font: 300 14px "Lato", sans-serif;

/* Terminals/Code Spans */

$code-font: 16px "inconsolata", monospace;


/* Dashboard */

$workset-name-font: 300 22px "Lato", sans-serif;
$workset-description-font: 300 14px "Lato", sans-serif;

/* Workflow */

$workflow-label-name-font: 600 11px "Open Sans", sans-serif;
$workflow-label-type-font: 400 10px "Open Sans", sans-serif;

$workflow-input-name-font: 600 12px "Open Sans", sans-serif;
$workflow-input-type-font: 400 12px "Open Sans", sans-serif;

$workflow-context-menu-font: 300 12px "Lato", sans-serif;

/* Help Bubbles */

$help-font: 400 14px "Lato", sans-serif;

/* Results Data */

$key-font: 400 10pt "Lato", sans-serif;
$value-font: 400 10pt "Open Sans", sans-serif;
$supplement-font: 300 10pt "Open Sans", sans-serif;

/* Directory View */

$directory-group-font:    600 11pt "Open Sans", sans-serif;
$directory-normal-font:   400 11pt "Open Sans", sans-serif;
$directory-size-font:     400 11pt "Open Sans", sans-serif;
$directory-caption-font:  bold 10pt "Open Sans", sans-serif;
$directory-revision-font: 400 10pt "Open Sans", sans-serif;

/* Object Selection */

$object-selector-font:    normal 12px "Lato", sans-serif;

/* Test Viewer */

$test-viewer-header-font: 300 12pt "Open Sans", sans-serif;
$test-viewer-method-font: 600 12pt "Open Sans", sans-serif;
$test-viewer-story-font: 300 10pt "Open Sans", sans-serif;

/* Admin Page */
$admin-option-font: 300 10pt "Lato", sans-serif;

/* Local fonts below */

@font-face {
  font-family: 'Alegreya Sans SC';
   font-style: normal;
  font-weight: 400;
          src: local('Alegreya Sans SC'),
               local('AlegreyaSansSC-Regular'),
               url(/fonts/alegreya/alegreya.woff2) format('woff2'),
               url(/fonts/alegreya/alegreya.woff) format('woff');
}

@font-face {
  font-family: 'Cinzel Decorative';
   font-style: normal;
  font-weight: 700;
          src: local('Cinzel Decorative Bold'),
               local('CinzelDecorative-Bold'),
               url(/fonts/cinzel/cinzel.woff2) format('woff2'),
               url(/fonts/cinzel/cinzel.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
   font-style: normal;
  font-weight: 300;
          src: local('Lato Light'),
               local('Lato-Light'),
               url(/fonts/lato/Lato-Light.woff2) format('woff2'),
               url(/fonts/lato/Lato-Light.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
   font-style: normal;
  font-weight: normal;
          src: local('Lato Regular'),
               local('Lato-Regular'),
               url(/fonts/lato/Lato-Regular.woff2) format('woff2'),
               url(/fonts/lato/Lato-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
   font-style: bold;
  font-weight: bold;
          src: local('Lato Heavy'),
               local('Lato-Heavy'),
               url(/fonts/lato/Lato-Heavy.woff2) format('woff2'),
               url(/fonts/lato/Lato-Heavy.woff) format('woff');
}

@font-face {
  font-family: 'Marcellus SC';
   font-style: normal;
  font-weight: 400;
          src: local('Marcellus SC'),
               local('MarcellusSC-Regular'),
               url(/fonts/marcellus/marcellus.woff2) format('woff2'),
               url(/fonts/marcellus/marcellus.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
   font-style: normal;
  font-weight: 300;
          src: local('Open Sans Light'),
               local('OpenSans-Light'),
               url(/fonts/opensans/open_sans_300.woff2) format('woff2'),
               url(/fonts/opensans/open_sans_300.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
   font-style: normal;
  font-weight: 400;
          src: local('Open Sans'),
               local('OpenSans'),
               url(/fonts/opensans/open_sans_400.woff2) format('woff2'),
               url(/fonts/opensans/open_sans_400.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
   font-style: normal;
  font-weight: 600;
          src: local('Open Sans Semibold'),
               local('OpenSans-Semibold'),
               url(/fonts/opensans/open_sans_600.woff2) format('woff2'),
               url(/fonts/opensans/open_sans_600.woff) format('woff');
}

@font-face {
  font-family: 'Oxygen';
   font-style: normal;
  font-weight: 400;
          src: local('Oxygen'),
               local('Oxygen-Regular'),
               url(/fonts/oxygen/oxygen.woff2) format('woff2'),
               url(/fonts/oxygen/oxygen.woff) format('woff');
}
