/* Styling for the site footer
 */

body footer {
  background-color: $footer-bg;
  font: $footer-font;
  color: $footer-color;

  padding: 15px;
  padding-top: 10px;
  padding-bottom: 9px;

  margin: 0 auto;
  margin-top: 2px;
  max-width: 1000px;

  ul {
    line-height: 1.8em;
    text-align: center;

    li {
      display: inline-block;
      padding: 0px 10px;
      border-right: 1px solid $footer-line-color;
      padding-bottom: 2px;

      &:first-child {
        padding-left: 0px;
      }

      &:last-child {
        padding-right: 0px;
        border:none;
      }
    }
  }

  a {
    color: $footer-link-color;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}
