.content .card a.help-bubble {
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  background: url('/images/occam-help-bubble.svg') no-repeat;
  background-size: 18px 18px;
  background-position: 0px 0px;
  opacity: 0.5;
  text-indent: -9999px;
}

.content .card .help::before {
  content: '';
  display: block;
  position: absolute;
  border: 3px solid #B190D5;

  top: -6px;
  left: -8px;
  width: 33px;
  height: 33px;
  border-radius: 30px;
  background: white;

  background-image: url('/images/help_question_mark.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 11px;
}

.content .card .help {
  background-color: rgb(240, 217, 252);
  border: 1px solid rgb(174, 133, 219);
  display: block;

  display: inline-block;
  padding: 10px;
  padding-left: 10px;
  position: relative;

  font: $help-font;

  margin-top: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-top: 3px solid rgb(174, 133, 219);
  border-left: 3px solid rgb(174, 133, 219);
  border-top-left-radius: 20px;
  color: #3D1F62;
}

.content .card.filled .help {
  margin-left:  20px;
  margin-right: 20px;
}

.content .card .help p {
  font: $help-font;
  padding-left: 30px;
}

.content .card .help + * {
  margin-top: 10px;
}

.content .card .help .delete {
  background-color: hsl(0, 50%, 80%);
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #dcc;
  background-position: -1px -1px;

  display: block;
  position: absolute;
  right: -6px;
  top: -6px;
  height: 14px;
  width: 14px;
  color: white;
  border: 1px solid hsl(0, 20%, 90%);
  text-align: center;
  padding: 0;
  line-height: 10px;
  cursor: pointer;
  vertical-align:top;
  border-radius: 8px;
  text-indent: -9999px;
}

.content .card .help .delete:hover {
  background-color: hsl(0, 50%, 50%);
  border-color:     hsl(0, 20%, 50%);
}
