/* This file contains the paths for all of the icons on the system.
 *
 * The header icons inside the circles... those icons are listed first.
 * Followed by the icons for different metadata fields and subheaders.
 */

/* Header Icons */

.content .information > .object > h2.large-icon, // Header icons
.large-icon,              // All instances that wish to pull an icon out
.container-content.icon { // Workflow graph icons
  &:not(.container-content), &:after {
    background-image: url('/images/icons/object_large.svg');
  }

  &.graph ,
  &.plotter {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/graph_large.svg');
    }
  }

  &.viewer {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/viewer_large.svg');
    }
  }

  &.paper {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/paper_large.svg');
    }
  }

  &.game {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/game_large.svg');
    }
  }

  &.occam-git {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/repository_large.svg');
    }
  }

  &.application-json {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/application_json_large.svg');
    }
  }

  &.configurator {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/configurator_large.svg');
    }
  }

  &.system {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/occam_large.png');
    }
  }

  &.search {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/icons/search.svg');
    }
  }

  &.error {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/error_large.png');
    }
  }

  &.group {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/group_large.png');
    }
  }

  &.workset {
    &:not(.container-content), &:after {
      background-color: transparent !important;
      border-radius: 0 !important;
      border: none !important;
      background-image: url('/images/workset_large.png') !important;
    }
  }

  &.font {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/font_large.svg');
    }
  }

  &.experiment {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/experiment_large.svg');
    }
  }

  &.simulator {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/simulator_large.svg');
    }
  }

  &.benchmark {
    &:not(.container-content), &:after {
      background-image: url('/images/benchmark_large.png');
    }
  }

  &.import {
    &:not(.container-content), &:after {
      background-image: url('/images/import_large.png');
    }
  }

  &.object {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/object_large.svg');
    }
  }

  // Actions

  &.action {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }

  &.action.fork {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/fork.svg');
    }
  }
}

/* Metadata Icons */
h2.icon,
li.tab a.icon {
  /* Default */
  & {
    background-image: url('/images/object.png');
  }

  &.uuid {
    background-image: url('/images/uuid.png');
  }

  &.list-view {
    background-image: url('/images/icons/list-view.svg');
  }

  &.list-preview {
    background-image: url('/images/icons/list-preview.svg');
  }

  &.progress {
    background-image: url('/images/progress.png');
  }

  &.experiment {
    background-image: url('/images/experiment.png');
  }

  &.newTab {
    background-image: url('/images/new_tab.svg');
  }

  &.task {
    background-image: url('/images/generic.png');
  }

  &.repository {
    background-image: url('/images/repository.png');
  }

  &.revision {
    background-image: url('/images/revision.png');
  }

  &.object {
    background-image: url('/images/object.png');
  }

  &.object[data-object-type="application/json"] {
    background-image: url('/images/application_json.png');
  }

  &.clonedFrom {
    background-image: url('/images/clonedFrom.png');
  }

  &.history {
    background-image: url('/images/history.png');
  }

  &.time {
    background-image: url('/images/history.png');
  }

  &.website {
    background-image: url('/images/website.png');
  }

  &.generator {
    background-image: url('/images/generator.png');
  }

  &.authors {
    background-image: url('/images/authors.png');
  }

  &.collaborators {
    background-image: url('/images/collaborators.png');
  }

  &.configuration {
    background-image: url('/images/configuration.png');
  }

  &.script_path {
    background-image: url('/images/object.png');
  }

  &.binary_path {
    background-image: url('/images/code.png');
  }

  &.script {
    background-image: url('/images/code.png');
  }

  &.environment {
    background-image: url('/images/environment.png');
  }

  &.architecture {
    background-image: url('/images/architecture.png');
  }

  &.inputs {
    background-image: url('/images/inputs.png');
  }

  &.outputs {
    background-image: url('/images/outputs.png');
  }

  &.perma-link {
    background-image: url('/images/icons/url.svg');
  }

  &.embed-link {
    background-image: url('/images/icons/embed-url.svg');
  }

  &.license {
    background-image: url('/images/license.png');
  }

  &.group {
    background-image: url('/images/group.png');
  }

  &.workset {
    background-image: url('/images/workset.png') !important;
  }

  &.aptlab {
    background-image: url('/images/aptlab.png');
  }

  &.ec2 {
    background-image: url('/images/ec2.png');
  }

  &.paper {
    background-image: url('/images/icons/paper.svg');
  }

  &.page {
    background-image: url('/images/icons/page.svg');
  }

  &.volume {
    background-image: url('/images/icons/volume.svg');
  }
}

/* File/Directory Icons */

/* webkit will not allow me to apply this to the li.group
 * since it will apply it oddly to every table-cell */
.content table.directory tr.group > td:first-child {
  background-image: url('/images/group.png');
}

.content table.directory tr.group.git > td:first-child {
  background-image: url('/images/icons/group_repository.png');
}

.content table.directory tr.workset > td:first-child {
  background-image: url('/images/workset.png');
}

.content table.directory tr.row > td.icon:first-child {
  &.object {
    background-image: url('/images/object.png');
  }
}

.content table.directory tr.row > td.icon:first-child {
  &.paper {
    background-image: url('/images/icons/paper.svg');
  }
}

.content table.directory tr.row > td.icon:first-child {
  &.page {
    background-image: url('/images/icons/page.svg');
  }
}

.content table.directory tr.row > td.icon:first-child {
  &.volume {
    background-image: url('/images/icons/volume.svg');
  }
}

.content table.directory tr.experiment > td:first-child {
  background-image: url('/images/experiment.png');
}

.content table.directory tr.newTab > td:first-child {
  background-image: url('/images/new_tab.svg');
}

.content table.directory tr.object > td:first-child {
  background-image: url('/images/object.png');
}

.content table.directory tr.file > td:first-child {
  background-image: url('/images/file.png');
}

/* File/Directory Icons: MIME Types */
.content table.directory tr.file.mime-image > td:first-child {
  background-image: url('/images/file-image.png');
}

.content table.directory tr.file.mime-image.mime-gif > td:first-child {
  background-image: url('/images/file-gif.png');
}

.content table.directory tr.file.mime-image.mime-png > td:first-child {
  background-image: url('/images/file-image-png.png');
}

.content table.directory tr.file.mime-image.mime-jpeg > td:first-child {
  background-image: url('/images/file-image-jpg.png');
}

.content table.directory tr.file.mime-image.mime-bmp > td:first-child {
  background-image: url('/images/file-image-bmp.png');
}

.content table.directory tr.file.mime-application.mime-json > td:first-child {
  background-image: url('/images/file-brackets.png');
}

.content table.directory tr.file.mime-application.mime-x-python > td:first-child {
  background-image: url('/images/file-application-x-python.png');
}

.content table.directory tr.file.mime-application.mime-x-c > td:first-child ,
.content table.directory tr.file.mime-text.mime-x-c > td:first-child {
  background-image: url('/images/file-application-x-c.png');
}
