nav.topbar {
  background-color: $top-bar-bg;
  background-image: linear-gradient(to top, #ddd, #fff);
  z-index: 999;
  box-shadow: 1px 1px 5px 1px black;
  height: 48px;
  width: 100%;
  margin: 0 auto;
  line-height: 48px;
  position: relative;
  text-align: right;

  @media #{$media-tablet} {
    height: auto;
  }
}

nav.topbar .logo {
  background-color: red;
  background: url('/images/logo6_small.png') no-repeat 50% 50%;
  background-size: 110px;
  color: hsl(190, 80%, 70%);
  display: inline-block;
  height: 48px;
  width: 150px;
  letter-spacing: 0.03em;
  line-height: 48px;
  vertical-align: top;
  position: absolute;
  left: 0;
}

nav.topbar ul.navbar {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

nav.topbar ul.navbar.left {
  position: absolute;
  left: 140px;

  @media #{$media-wide} {
    display: none;
  }
  @media #{$media-tablet} {
    display: none;
  }
}

nav.topbar :not(.right) + ul.navbar.right {
  padding-left: 150px;
}

nav.topbar ul.navbar.right {
  @media #{$media-tablet} {
    padding-left: 20px;
  }
}

nav.topbar ul.navbar li {
  display: inline-block;
  font: $nav-link-font;
  margin: 0;
  padding-right: 10px;
}

nav.topbar ul.navbar li input {
  border: 1px solid #e8e8e8;
  height: 20px;
  padding: 0 5px;
}

@mixin placeholder {
  color: #bbb !important;
  opacity: 1;
}

/* Firefox doesn't accept pseudo-selectors inside comma lists */
nav.topbar ul.navbar li input:-ms-input-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input::-moz-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input:-moz-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input::-webkit-input-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input:input-placeholder {
  @include placeholder;
}

nav.topbar ul.navbar li#avatar {
  height: 48px;
  line-height: 48px;
  padding: 0px;
}

nav.topbar ul.navbar li#avatar img {
  width: 24px;
  height: 24px;
  border-radius: 32px;
  vertical-align: middle;
}

nav.topbar ul.navbar li#username a {
  color: $nav-username-color;
}

nav.topbar ul.navbar li p {
  display: inline-block;
  margin-right: 5px;
}

nav.topbar ul.navbar li a {
  color: $nav-link-color;
  //background-color: $nav-link-bg;
  //border: 1px solid $nav-link-border-color;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 8px;
}

nav.topbar ul.navbar li a:hover {
  text-decoration: underline;
}

nav.topbar ul.navbar.jobs {
  margin-left: 10px;
}

nav.topbar ul.navbar li#job-progress .task-selector {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  vertical-align: top;
}

nav.topbar ul.navbar li#job-progress .task-selector span {
  margin: 0 auto;
}

nav.topbar ul.navbar li#job-progress .task-selector span.task-number {
  color: #777;
  color: #333;
  font: 600 12px "Open Sans", sans-serif;
}

nav.topbar ul.navbar li#job-progress .task-selector span.task-count {
  color: #333;
  font: 600 12px "Open Sans", sans-serif;
}

nav.topbar ul.navbar li#job-progress .task-selector .previous {
  cursor: pointer;
  display: inline-block;
  color: #888;
  position: absolute;
  top: 4px;
  line-height: 1em;
  width: 100%;
  left: 0;
}

nav.topbar ul.navbar li#job-progress .task-selector .next {
  cursor: pointer;
  display: inline-block;
  color: #888;
  position: absolute;
  bottom: 4px;
  line-height: 1em;
  width: 100%;
  left: 0;
}

nav.topbar ul.navbar li#job-progress .current-task {
  display: inline-block;
  height: 48px;
  margin-right: 10px;
  vertical-align: top;
}

nav.topbar ul.navbar li#job-progress .current-task .label.name {
  font: $workflow-label-name-font;
  color: $workflow-label-name-color;
  position: relative;
  top: 8px;
}

nav.topbar ul.navbar li#job-progress .current-task .label.type {
  font: $workflow-label-type-font;
  color: $workflow-label-type-color;
  position: relative;
  top: 9px;
}

nav.topbar ul.navbar li#job-progress .container {
  background-color: #cfc;

  border-left: 5px solid #ada;
  border-right: 5px solid #ada;
  border-top: 1px solid #ada;
  border-bottom: 1px solid #ada;

  display: inline-block;
  height: 30px;
  width:  30px;

  margin-right: 10px;
  position: relative;
  top: 9px;
}

nav.topbar ul.navbar li#job-progress {
  height: 48px;
  line-height: 48px;
  position: relative;
}

nav.topbar ul.navbar li#job-progress > span {
  color: #444;
  vertical-align: top;
  margin-right: 6px;
}

nav.topbar ul.navbar li#job-progress > span.job-title a {
  color: $nav-username-color;
  margin-left: 10px;
}

nav.topbar ul.navbar li#job-progress ul {
  display: inline-block;
}
