/* This styles the generic object view. Stuff like the headers, tags,
 * description, and the icons.
 */

/* Header */

html body .content h1 {
  position: relative;
  overflow: hidden;
  background-color: $header-bg;
  color: $header-color;
  font: $header-font;
  padding-top: 45px;
  padding-bottom: 15px;
  min-height: 104px;

  @media #{$media-tablet} {
    /* Push the buttons to the top, remove dead-space */
    padding-top: 0;
    min-height: 110px;

    padding-bottom: 10px;
  }
}

/* Saving... box */

.content h1 .flash {
  position: absolute;
  top: 10px;
  border-radius: 3px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  min-height: 30px;
  line-height: 30px;
  padding: 2px;
  box-shadow: 0px 0px 8px 1px #111;

  .spinner {
    vertical-align: middle;
    display: inline-block;
  }
}

.content h1 .error.flash {
  background-color: $error-flash-bg;
  color: $error-flash-color;
  font: $error-flash-font;
}

.content h1 .saving.flash {
  background-color: $saving-flash-bg;
  color: $saving-flash-color;
  font: $saving-flash-font;
}

/* Object Top-Navigation */

.content h1 nav {
  position: absolute;
  top: 0px;
  left: 10px;

  @media #{$media-tablet} {
    position: relative;

    ul {
      line-height: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.content h1 nav ul li {
  display: inline-block;
  font:    $header-nav-font;

  h2.icon {
    background-position: 0% 0%;
    line-height: 20px;
    min-height: 20px;
    padding-top: 4px;
    font:    $header-nav-font;
  }

  a {
    vertical-align: baseline;
    font:    $header-nav-font;
  }

  h2:after {
    margin-left: 5px;
    content: '>';
    display: inline-block;
  }
}

.content ul.bookmarks li.bookmark > .large-icon ,
.content h1 .large-icon {
  width: 96px;
  height: 96px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 96px;
  background-color: rgba(10%, 10%, 10%, 0.6);
  border: 4px solid #357C8A;
  border-radius: 96px;

  @media #{$media-tablet} {
    width: 48px;
    height: 48px;
    background-size: 48px;
    border-width: 2px;
  }
}

.content h1 .large-icon {
  position: relative;
  background-image: url('/images/icons/object_large.svg');
  margin-bottom: 5px;
}

.content h1.rtl .large-icon {
  right: 15px;
  float: right;
}

.content h1:not(.rtl) .large-icon {
  left: 15px;
  float: left;
}

.content h1 .large-icon img.avatar {
  width: 96px;
  height: 96px;
  position: relative;
  left: -2px;
  top: -2px;
  border-radius: 48px;
  background-color: white;
  border: 2px solid $object-description-bg;
}

.content h1 .statistics {
  position: absolute;
  right: 0%;
  bottom: 10px;
}

.content h1.rtl .statistics {
  right: auto;
  left: 0%;
}

.content h1 .statistics ul.roles li.administrator {
  background-color: $role-administrator-bg;
}

.content h1 .statistics ul.roles li.experimentalist {
  background-color: $role-experimentalist-bg;
}

.content h1 .type {
  letter-spacing: 0.05em;
  display: block;
  padding-left: 131px;
  margin-top: 26px;

  color: $object-type-color;
  font: $object-type-font;

  height: 21px;

  padding-right: 165px;

  @media #{$media-tablet} {
    padding-right: 15px;
    padding-left: 80px;
    padding-bottom: 3px;
    margin-top: 3px;
  }

  a {
    color: $object-type-color;
    font: $object-type-font;
  }
}

.content h1 .large-icon + .name ,
.content h1 .statistics + .name {
  margin-top: 41px;

  @media #{$media-tablet} {
    margin-top: 7px;
  }
}

.content h1 .name {
  display: block;
  padding-left: 129px;
  padding-right: 165px;
  color: $header-color;
  margin-top: -6px;
  margin-bottom: 6px;
  word-wrap: break-word;

  @media #{$media-tablet} {
    padding-right: 15px;

    padding-left: 80px;
    font-size: 18px;
  }
}

.content h1.rtl .type {
  text-align: right;
  padding-left: 165px;
  padding-right: 129px;

  @media #{$media-tablet} {
    padding-left: 15px;
    padding-right: 80px;
  }
}

.content h1.rtl .name {
  text-align: right;
  padding-left: 165px;
  padding-right: 129px;

  @media #{$media-tablet} {
    padding-left: 15px;
    padding-right: 80px;
  }
}

.content h1 .parent ,
.content h1 .description ,
.content h1 .organization {
  display: block;
  color: $object-sub-header-color;
  font: $object-sub-header-font;
  height: 1em;
  padding-left: 131px;

  @media #{$media-tablet} {
    padding-left: 80px;
  }
}

.content h1.rtf .parent,
.content h1.rtf .description,
.content h1.rtf .organization {
  padding-left: auto;
  padding-right: 131px;
}

/* Tags */

.content {
  > .description {
    position: relative;
    z-index: 999;
    box-shadow: 1px 1px 5px 1px black;
  }

  .description {

    margin-top: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: $object-description-color;
    background-color: $object-description-bg;
    font: $object-description-font;

    *:not(.tag) > a {
      color: $object-description-color;
      font: $object-description-font;
      text-decoration: underline;
    }

    p {
      font-size: 14px;
    }

    ul {
      padding-left: 30px;

      li {
        margin-top: 10px;
      }
    }

    > * {
      padding-left: 15px;
    }

    * + ul.tags {
      margin-top:  15px;
      margin-left: 15px;
      padding-left: 0;
    }

    ul.tags li {
      position: relative;

      background-color: $object-tag-bg;
      border: 1px solid $object-tag-border-color;

      border-radius: 10px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      display: inline-block;
      line-height: 1em;

      padding: 0px 5px;
      padding-bottom: 1px;
      padding-left: 10px;
    }

    ul.tags li:after {
      content: '';
      position: absolute;

      background-color: $object-description-bg;

      width: 4px;
      height: 4px;
      left: 3px;
      top: 7px;

      border-radius: 3px;
      border-color: $object-tag-border-color;
    }

    ul.tags li a {
      color: $object-tag-color;
      font: $object-tag-font;
      text-decoration: none;
    }

    ul.tags li a:hover {
      color: $object-tag-hover-color;
      background-color: $object-tag-hover-bg;
      text-decoration: none;
    }
  }
}

/* Side Buttons */

.content h1:not(.rtl) .statistics ul li {
  right: -13px;
  @media #{$media-tablet} {
    right: 0;
  }
}

.content h1.rtl .statistics ul li {
  left: -13px;
  @media #{$media-tablet} {
    left: 0;
  }
}

.content h1:not(.rtl) .statistics ul li:first-child {
  border-top-left-radius: 3px;
  @media #{$media-tablet} {
    border-top-left-radius: 0;
  }
}

.content h1:not(.rtl) .statistics ul li:last-child {
  border-bottom-left-radius: 3px;
  @media #{$media-tablet} {
    border-bottom-left-radius: 0;
  }
}

.content h1.rtl .statistics ul li:first-child {
  border-top-right-radius: 3px;
  @media #{$media-tablet} {
    border-top-right-radius: 0;
  }
}

.content h1.rtl .statistics ul li:last-child {
  border-bottom-right-radius: 3px;
  @media #{$media-tablet} {
    border-bottom-right-radius: 0;
  }
}

.content h1 .statistics {
  @media #{$media-tablet} {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  ul {
    @media #{$media-tablet} {
      position: relative;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      line-height: 0px;
    }

    li {
      display: block;
      position: relative;
      overflow: hidden;

      @media #{$media-tablet} {
        display: inline-block;
      }
    }

    @mixin side-button {
      display: block;
      width: 130px;
      padding: 7px 10px;
      padding-left: 38px;
      font: 300 9pt Lato, sans-serif;
      color: white;
      text-align: left;
      line-height: 16px;

      background-color: #204F58;
      background-repeat: no-repeat;
      background-position: 10px 50%;
      background-size: 19px;
    }

    &.roles li {
      @include side-button;

      @media #{$media-tablet} {
        display: inline-block;
      }
    }

    li a {
      @include side-button;
    }

    li form input {
      @include side-button;

      width: 178px;
      height: 30px;
      border: none;
      margin: 0;
      cursor: pointer;
    }

    li:not(.disabled) form input,
    li:not(.disabled) a {
      background-color: #357C8A;
      cursor: pointer;
    }

    li a:hover {
      text-decoration: none;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #2C6571;
      @media #{$media-tablet} {
        border: none;
        border-right: 1px solid #2C6571;
      }
    }

    &.roles li:not(:last-child) {
      border-bottom: 1px solid #173238;
      @media #{$media-tablet} {
        border: none;
      }
    }
  }
}

.content h1 .statistics {
  z-index: 99;
}

.content h1 .statistics ul li:not(.disabled) form input:hover ,
.content h1 .statistics ul li:not(.disabled) a:hover {
  background-color: #3C98AA;
}

.content h1 .statistics > ul > li.visibility.private a ,
.content h1 .statistics > ul > li.visibility.private form input {
  background-image: url('/images/public_locked.png');
}

.content h1 .statistics > ul > li.visibility.public a ,
.content h1 .statistics > ul > li.visibility.public form input {
  background-image: url('/images/public_unlocked.png');
}

.content h1 .statistics > ul > li.fork a {
  background-image: url('/images/fork.svg');
}

.content h1 .statistics > ul > li.bookmark form input {
  background-image: url('/images/bookmark.svg');
}

.content h1 .statistics > ul.roles > li.administrator {
  background-image: url('/images/role_administrator.svg');
}

.content h1 .statistics > ul.roles > li.experimentalist {
  background-image: url('/images/role_experimentalist.svg');
}

.content h1 .statistics > ul > li.bookmark_delete form input {
  background-image: url('/images/bookmark_delete.svg');
}

.content h1 .statistics > ul > li.history a {
  background-image: url('/images/history.svg');
}

/* Widget */

.widget-label {
  border: 1px solid #ddd;
  background-color: #eee;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  input.button {
    margin: 10px;
    margin-right: 20px;
  }
}

/* Screenshots */

table.images {
  background-color: black;
}

table.images tr:first-child td:first-child {
  width: 66%;

  img {
    vertical-align: middle;
  }
}

table.images tr:not(:first-child) td {
  width: 33%;
}

table.images img {
  width: 100%;
  margin: auto auto;
}

h1 * {
  position: relative;
  z-index: 9;
}

/* Authors/Collaborators list */

.authors.section {
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
}

.collaborators.section {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

ul.people {
  margin-left: 27px;
  margin-bottom: 15px;
}

ul.people li:not(:last-child) {
  margin-bottom: 5px;
}

ul.people li.new:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 24px;
  border: 2px solid #eee;
  background-image: url('/images/add.png');
  background-size: 24px 24px;
  background-position: -2px -2px;
}

ul.people li.new {
  position: relative;
}

ul.people li.new input {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 16px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  width: 150px;
}

ul.people li.new input.button {
  width: 70px;
  height: 22px;
  line-height: 10px;
}

ul.people li .avatar {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

ul.people li .avatar + a {
  vertical-align: middle;
}

ul.people li form {
  display: inline-block;
  margin-left: 10px;
}

ul.people li form input.link:not(.button) {
  font-size: 10px;
  color: #ccc;

  &:hover {
    color: $link-color;
  }
}

.content .card .directory.information tr.row.add .selector {
  vertical-align: middle;
}

.content .card .directory.information tr.row.add input {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 3px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}

.content .card .directory.information tr.row.add input.button {
  padding: 2px;
  margin: 0;
  width: 100px;
  vertical-align: middle;
  height: 32px;
}

.content table.directory {
  margin-top: 10px;
  width: 100%;
}

.content table.directory tr.row:not(.add):not(.tree) > td {
  border-bottom: 1px solid #eee;
}

.content table.directory tr.row:not(.add):not(.tree) > td.actions {
  padding-right: 15px;
}

.content table.directory tr.row.group:not(.add):not(.tree) > td {
  background-color: $directory-group-bg;
}

.content table.directory {
  border-top: 1px solid #eee;

  table.directory {
    border: none;
    border-left: 1px solid #eee;
  }
}

.content table.directory table.directory tr.row:not(.add):first-child > td {
  border-top: none;
}

.content table.directory table.directory tr.row:not(.add) > td {
  border-left: none;
  border-right: none;
}

.content table.directory tr.row:not(.add) td:first-child {
  border-left: 1px solid #eee;
}

.content table.directory tr.row:not(.add) td:last-child {
  border-right: 1px solid #eee;
}

.content .card .directory.information tr.row td.actions a {
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     20px 20px;

  display:             inline-block;

  width:               20px;
  height:              20px;
  line-height:         20px;

  text-indent:         -9999px;
  overflow:            hidden;

  vertical-align:      middle;

  border: none;
  margin: 0;
  padding: 0;

  &.up {
    background-image: url('/images/ui/up.png');

    &:hover {
      background-image: url('/images/ui/up_hover.png');
    }
  }

  &.down {
    background-image: url('/images/ui/down.png');

    &:hover {
      background-image: url('/images/ui/down_hover.png');
    }
  }

  &.delete {
    background-image: url('/images/ui/delete.png');

    &:hover {
      background-image: url('/images/ui/delete_hover.png');
    }
  }
}

.content table.directory tr.row.tree > td {
  padding: 0;
  padding-left: 20px;
}

.content table.directory tr.row.tree table.directory {
  margin: 0;
}

.content table.directory li {
}

.content table.directory.information {
  position: relative;
}

.content table.directory.information .row {
}

.content table.directory.information .row > td {
  vertical-align: top;

  padding-bottom: 10px;
  padding-left:   5px;
  padding-top:    10px;

  white-space: nowrap;

  font:  $directory-normal-font;
  color: $directory-normal-color;
}

.content table.directory.information .group.row > td {
  font:  $directory-group-font;
  color: $directory-group-color;
}

.content table.directory.information .row > td + td {
}

.content table.directory.information .row > td.size {
  font:  $directory-size-font;
  color: $directory-size-color;
}

.content table.directory.information .row > td.name {
  width: 100%;
}

.content table.directory.information .row > td.size {
  text-align: right;
}

.content table.directory.information .row > td + td {
  padding-left: 5px;
}

.content table.directory.information .row > td.name > a {
  color: $directory-normal-color;
}

.content table.directory.information .row.linked > td.name > a {
  color: $directory-linked-color;
}

.content table.directory.information .row.group > td.name > a {
  color: $directory-group-color;
}

.content .card.filled table.directory.information .row:not(.tree):not(.upload) > td:first-child {
  padding-left: 59px;
  background-position: 11px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.content .card.filled table.directory.information .row:not(.tree):not(.upload) > td.checkbox:first-child {
  background-position: 25px 50%;
}

.content table.directory.information .row:not(.tree):not(.upload) > td:first-child {
  padding-left: 39px;

  background-repeat: no-repeat;
  background-position: 11px 50%;
  background-size: 20px;
}

.content table.directory.information .row:not(.tree):not(.upload) > td.checkbox:first-child {
  padding-left: 10px;
  padding-right: 30px;

  background-position: 38px 50%;
  background-size: 20px;
}

.content table.directory.information .row.add:not(.tree):not(.upload) > td:first-child {
  background-image: url("/images/add.png");
  background-repeat: no-repeat;
  background-position: 6px 50%;
  background-size: 24px;
}

.content table.directory.information tr.header > td {
  font: $directory-caption-font;
  color: $directory-caption-color;

  padding-top: 20px;
  padding-bottom: 0px;
}

.content table.directory.information .row > td.expand {
  color: $expand-color;
  vertical-align: top;
  font-size: 12px;
  text-align: center;
  width: 1em;
  max-width: 1em;
  min-width: 1em;
}

.content table.directory tr.row:not(.add):not(.tree):hover > td {
  background-color: $directory-hover-bg;
}

.content table.directory tr td span.revision {
  color: $directory-revision-color;
  font:  $directory-revision-font;
}

.content .card > ul.bookmarks {
  padding: 0 !important;

  li.bookmark {
    background-color: #F5F5FF;
    padding: 20px;
    border-bottom: 1px solid #ddd;

    .large-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      background-color: rgb(21, 38, 41);
    }

    &:last-child {
      border: none;
    }
  }
}

/* Edit description/profile link */

.content .edit-profile-link {
  margin-top: 5px;
}

.content .edit-profile-link a.edit-profile {
  color: hsl(190, 60%, 85%);

  font-size: 12px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

/* Runner tabs and queue form and run button */
.content .tab-panels.runner {
  position: relative;
  overflow: hidden;
  min-height: 500px;

  &.separator-resize {
    height: 500px;
    min-height: auto;
  }

  .run-form {
    display: flex;
    align-items: center;
    background-color: #888;
    text-align: center;

    > .card {
      margin: auto;
      background-color: #848484;
      border: 1px solid #9E9E9E;

      .information {
        text-align: left;

        h2 {
          color: white;
        }
      }
    }

    .buttons {
      display: inline-block;
      margin: auto;

      .button {
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.content.embed .tab-panels.runner {
  height: calc(100vh - 134px);
}

.content .tab-panels .tab-panels.runner {
}

/* Widget iframe */

.card.object-viewer {
  height: 350px;
}

html.embedded .content > ul.tab-panels > li.tab-panel > .card:first-child {
  min-height: calc(100vh - 90px);

  &.filled {
    min-height: calc(100vh - 50px);
  }

  &.object-viewer {
    min-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
  }
}
