.content .card ul.workflow {
  background-color: hsl(290, 80%, 99%);
  border: 1px solid #bbb;
  margin: 0px;
  margin-top: 10px;
  overflow: auto;
  max-height: 600px;
  white-space: nowrap;
  padding: 20px;
}

.content .card ul.workflow > * {
  resize: none;
}

.content ul.workflow > li {
  display: inline-block;
  position: relative;

  margin: 0;

  padding-left: 0px;
  padding-top:  0px;
  padding-bottom: 0px;

  vertical-align: top;
}

.content ul.workflow > li.base > .container {
  background-color: #ccc;
  opacity: 0.7;
}

.content ul.workflow > li:first-child {
  background: none;
}

.content ul.workflow > li:last-child {
  margin-right: 25px;
}

.content ul.workflow .container > .container-content > h3 {
  margin-top: 10px;
  text-align: center;
  font-size:  14px;
}

.content ul.workflow .container > .container-content > h3.type {
  font-weight: 400;
}

/* This is the object node in the workflow
 */
.content ul.workflow > li.object {
}

/* This is the last node in the workflow
 */
.content ul.workflow > li.output {
}

.content ul.workflow .container > .container-content > form > input.delete {
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #dcc;
  background-position: -1px -1px;

  display: block;
  position: absolute;
  right: -8px;
  top: -8px;
  height: 16px;
  width: 16px;
  color: white;
  border: 1px solid #aaa;
  text-align: center;
  padding: 0;
  line-height: 10px;
  cursor: pointer;
  vertical-align:top;
  border-radius: 8px;
  text-indent: -9999px;
}

.content ul.workflow .container > .container-content > form > input.delete:hover {
  background-color: #fcc;
}

.content ul.workflow li.object {
  display: table;
  margin: 0;
  margin-left: auto;
}

.content ul.workflow > li.object {
  margin-left: 0;
}

.content ul.workflow li.object > .row {
  display: table-row;
}

.content ul.workflow li.object > .row > ul.connections {
  position: relative;
  display: table-cell;
  width: 150px;
  text-align: right;
}

.content ul.workflow li.object > .row > .info {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.content ul.workflow .container {
  width: 160px;
  height: 160px;

  display: block;

  white-space: normal;

  position: relative;
}

.content ul.workflow .container > .container-content {
  width: 120px;
  height: 120px;

  position: absolute;

  left: 10px;
  top: 10px;

  background-color: #fcfcff;

  border: 1px solid #ddd;
  border-left-width: 5px;
  border-right-width: 5px;
}

.content ul.workflow .container > .container-content:hover {
  border-color: #bbb;
}

.content ul.workflow .container:not(.embedded):not(.input) > .container-content:after {
  height: 30px;
  width:  30px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat:   no-repeat;
  background-position: 50% 50%;
  background-size:     30px 30px;
  content: '';
  display: block;
  filter: grayscale(100%) opacity(50%);
  -webkit-filter: grayscale(100%) opacity(50%);
}

.content ul.workflow .container:not(.embedded):not(.input) > .container-content:hover:after {
  filter: none;
  -webkit-filter: none;
}

.container-content:after {
  background-image: url('/images/icons/object_large.svg');
}

.content ul.workflow .container.created > .container-content {
  opacity: 0.5;
}

.content ul.workflow .container.input > .container-content {
  opacity: 0.7;
  border-color: hsl(120, 30%, 60%);
}

.content ul.workflow li.object > .row > .info > .container > .edge {
  width: 15px;
  height: 1000%;
  position: absolute;
  border-color: hsl(180, 40%, 80%);
  border-color: #B1D2D2;
  border-style: solid;
  border-width: 0;
}

.content ul.workflow li.object > .row > .info > .container > .edge.top {
  bottom: 90px;
}

.content ul.workflow li.object > .row > .info > .container > .edge.left {
  left: 0px;
}

.content ul.workflow li.object > .row > .info > .container > .edge.right {
  right: 0px;
}

.content ul.workflow li.object > .row > .info > .container > .edge.bottom {
  top: 70px;
}

.content ul.workflow li.object > .row > .info > .container > .edge.top.left {
}

.content ul.workflow li.object > .row > .info > .container > .edge.top.right {
}

.content ul.workflow li.object > .row > .info > .container > .edge.bottom.left {
}

.content ul.workflow li.object > .row > .info > .container > .edge.bottom.right {
}

/* Line coming from the left.
 * Only when there are inputs.
 */
.content ul.workflow li.object > .row > ul.connections + .info > .container > .edge.top.left {
  border-bottom-width: 3px;
}

.content ul.workflow li.object.fifo > .row > ul.connections + .info > .container > .edge.top.left {
}

/* Line going to the right.
 * Only when there is an object.
 */

.content ul.workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.top.right {
  border-bottom-width: 3px;
}
.content ul.workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.bottom.right {
}

.content ul.workflow li.object > .row > ul.connections > li.object.fifo > .row > .info > .container > .edge.top.right {
  border-bottom-color: #ddd;
}
.content ul.workflow li.object > .row > ul.connections > li.object.fifo > .row > .info > .container > .edge.bottom.right {
  border-bottom-color: #ddd;
}

/* Lines connecting connections.
 */
.content ul.workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.top.right {
  border-right-width: 8px;
  width: 12px;
}
.content ul.workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.bottom.right {
  border-right-width: 8px;
  width: 22px;
}
.content ul.workflow li.object > .row > ul.connections > li.object:first-child > .row > .info > .container > .edge.top.right ,
.content ul.workflow li.object > .row > ul.connections > li.object:last-child > .row > .info > .container > .edge.bottom.right {
  border-right-width: 0px;
  width: 22px;
}

/* This is the first node in the workflow
 */
.content ul.workflow > li {
}

.content ul.workflow .container select {
  margin: 10px;
  margin-bottom: 0;
  width: 100px;
}

.content ul.workflow .container input[type=text] {
  margin-bottom: 0;
  width: 105px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  padding-right: 10px;
  text-align: center;
  background-color: white;

  font: $workflow-input-name-font;
  color: $workflow-input-name-color;
}

.content ul.workflow .container input[type=text].object-type {
  background: url('/images/object.png') no-repeat 7px 50%;
  background-size: 20px;
  width: 82px;
  padding-left: 28px;

  font: $workflow-input-type-font;
  color: $workflow-input-type-color;
}

.content ul.workflow .container input.button ,
.content ul.workflow .container > .container-content > ul > li a {
  margin: 10px;
  width: 80px;
  height: 12px;
}

.content ul.workflow .container input.button {
  width: 100px;
  height: 22px;
  line-height: 0px;
  vertical-align: middle;
  margin-bottom: 8px;
}

.content ul.workflow .container > .container-content > ul > li:not(:first-child) input.button ,
.content ul.workflow .container > .container-content > ul > li:not(:first-child) a {
  margin-top: 0;
}

.content ul.workflow .container.done > .container-content {
  background-color: #ccf;
  border-color: #aad;
}

.content ul.workflow .container.running > .container-content {
  background-color: #cfc;
  border-color: #ada;
}

/* For condensed workflow design */
.content ul.workflow.fitted .container:not(.wide) {
  height: 100px;
  width:  100px;
}

.content ul.workflow.fitted .container:not(.wide) .container-content {
  height: 30px;
  width:  30px;
  left:   27px;
  top:    35px;
}

.content ul.workflow.fitted .container:not(.wide) .container-content > *:not(.spinner) {
  visibility: hidden;
}

.content ul.workflow.fitted .container.created .container-content > form[name=remove_connection] ,
.content ul.workflow.fitted .container.created .container-content > form[name=remove_connection] * {
  visibility: visible;
}

.content ul.workflow.fitted .container.created .container-content > form {
  visibility: visible;
}

.content ul.workflow.fitted {
  position: relative;
  text-align: center;
  resize: vertical;
}

.content ul.workflow.fitted .container:not(.wide) > .edge {
  width: 28px !important;
}

.content ul.workflow.fitted .container:not(.wide) > .edge.left {
  width: 30px !important;
}

.content ul.workflow.fitted .container:not(.wide) > .edge.bottom {
  top: 51px !important;
}

.content ul.workflow.fitted .container:not(.wide) > .edge.top {
  bottom: 47px !important;
}

.content ul.workflow.fitted .container:not(.wide) > .edge.top.right {
  width: 33px !important;
}

.content ul.workflow.fitted li.object > .row > ul.connections > li.object > .row > .info > .container:not(.wide) > .edge.top.right {
  width: 25px !important;
}

.content ul.workflow li.object > .row > ul.connections > li.object:first-child > .row > .info > .container:not(.wide) > .edge.top.right ,
.content ul.workflow li.object > .row > ul.connections > li.object:last-child > .row > .info > .container:not(.wide) > .edge.bottom.right {
  width: 33px !important;
}

/* Ensure connections list is wide enough for the (+) button when
 * the list is empty. */
.content ul.workflow.fitted ul.connections.input {
  min-width: 90px;
}

/* Workflow condensed labels */
.content ul.workflow .container .label {
  display: none;
}

.content ul.workflow.fitted .container .label {
  display: inline-block;
  width: 95px;
  position: absolute;
  left: 0;
  top: 14px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  color: #555;
  word-wrap: normal;
  white-space: normal;
  z-index: 888;
}

.content ul.workflow.fitted .container.created .label {
  font-weight: 400;
  color: #888;
}

.content ul.workflow.fitted .container .label.type {
  top: inherit;
  bottom: 86px;
  line-height: 1em;
  font-size: 10px;
  font-weight: 400;
  color: #777;
}

.content ul.workflow.fitted .container.embedded {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 1111;
}

.content ul.workflow.fitted > li.object {
  margin: 0 auto;
}

.content ul.workflow.fitted .input-button {
  width: 15px;
  height: 15px;
  color: white;
  overflow: hidden;
  position: absolute;
  vertical-align: middle;
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  background-color: hsl(120, 50%, 80%);
  border-radius: 8px;
  margin: 0;
  text-align: center;
  right: 45px;
  cursor: pointer;
  z-index: 888;
  background-image: url('/images/add_item.svg');
  background-position: 50% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
}

.content ul.workflow.fitted .input-dashes {
  width: 33px;
  height: 32px;
  color: white;
  position: absolute;
  font-weight: 700;
  margin: 0;
  right: 0;
  z-index: 888;
}

/* Context Menu */
.content ul.workflow .container ul.context-menu {
  // TODO: rtf languages
  text-align: left;

  li * {
    vertical-align: middle;
  }

  li {
    cursor: pointer;
    vertical-align: middle;
    padding-left: 43px;
    height: 40px;
    line-height: 40px;
    position: relative;

    a {
      color: $workflow-context-menu-color;
      font: $workflow-context-menu-font;

      cursor: pointer;

      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      display: inline-block;
      line-height: 1.1em;
    }
  }

  li:after {
    content:  '';
    height:   25px;
    width:    25px;
    border-radius: 15px;
    border: 1px solid #bababa;
    position: absolute;
    left: 8px;
    top:  8px;
    opacity: 0.5;
  }

  li.remove:after {
    background-color: #ffd9d9;

    background-image: url('/images/remove_item.svg');
    background-size: 25px 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  li:hover:after {
    border-color: #8a8a8a;
    opacity: 1.0;
  }

  li.remove:hover:after {
    background-color: #fe9292;
  }

  li.configure:after {
    background-image: url('/images/workflowItemConfiguration.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  li.configure:hover:after {
  }

  li.view {
    .revision {
      font-weight: bold;
    }
  }

  li.view:after {
    background-image: url('/images/workflowItemView.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  li.view:hover:after {
  }
}
