/* Page object (paper) styling */

.content .card.filled.page {
  position: relative;
}

.content .card.filled.page > .line {
  padding: 0;
  margin: 0;
  position: relative;
  height: 0px;
  max-height: 0px;
  overflow: visible;
}

.content .card.filled.page > .line:after {
  content: ' ';
  position: relative;
  width: 100%;
  height: 2px;
  display: block;
  background-color: transparent;
}

.content .card.filled.page > .line.hovered:after {
  background-color: #75AD77;
}

.content .card.filled.page > .line + h2 {
  margin-top: 0px;
}

.content .card.filled.page > img {
  padding-top: 10px;
}

.content .card.filled.page > img + p ,
.content .card.filled.page > img + .line + p {
  padding-top: 20px;
}

.content .card.filled.page > p:first-child ,
.content .card.filled.page > .line:first-child + p {
  padding-top: 20px;
}

.content .card.filled.page > .line > .new-token ,
.content .card.filled.page > .line > .configure-token {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  bottom: -10px;
  border-radius: 20px;
  border: 1px solid #ccffcc;
  cursor: pointer;
  filter: grayscale(100%);

  &:hover {
    filter: initial;
  }
}

.content .card.filled.page > .line > .new-token {
  border-color: #407840;
  background-color: #668F66;
  left: -8px;
  background-image: url('/images/add_item.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.content .card.filled.page > .line > .configure-token {
  border-color: #ffccff;
  background-color: #ffddff;
  background-image: url('/images/workflowItemConfiguration.png');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: -8px;
}

.content .card.filled.page p + .line ,
.content .card.filled.page p + p {
  padding-top: 20px;
}

.content .card.filled.page > textarea#paper-edit-widget {
  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content .card.filled.page > input#paper-edit-widget {
  margin-top: 10px;

  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content .card.filled.page > p + .line > * {
}

.content .card.filled.page > .line:last-child {
  padding: 0 !important;
  margin-bottom: 0;
}

.content .card.filled.page > .line:last-child > * {
}

.content .card.filled.page .new.item {
  text-align: center;
}

.content .card .add-component {
  text-align: left;
  display: inline-block;
  padding-top: 10px;
}

.content .card .add-component a.button.component-button {
  padding-top: 12px;
  padding-bottom: 11px;
  margin: 0;
}

.content .card ul.tab-panels.outputs li.tab-panel {
  max-height: 600px;
  min-height: 600px;
  height:     600px;
  overflow:   auto;
}

.content .card.separator {
  position: relative;
  height: 2px;
  padding: 0;
  cursor: ns-resize;
  text-align: center;
}

.content .card.separator:after {
  content: '';
  position: absolute;
  margin: 0 auto;
  top: -4px;
  display: inline-block;
  width: 21px;
  height: 9px;
  background-repeat: no-repeat;
  background: url('/images/separator_thumb.png');
  box-shadow: inset 0px 0px 1px 1px hsl(190, 60%, 100%);
  border: 1px solid #ccc;
  z-index: 999;
}

.content .card.separator.resizing:after ,
.content .card.separator:hover:after {
  box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 50%);
}

.content .card ul.tab-panels ul.tab-panels ul.datagroups {
  padding-left: 20px;
  margin-bottom: 20px;
}
