/* This styles dropdown selectors */

.content .card .selector {
  background: url('/images/object.png') no-repeat;
  background-position: 10px 50%;
  display: inline-block;
  border: 1px solid #aaa;
  padding: 5px 30px;
  padding-left: 40px;
  width: 200px;
  height: 20px;
  line-height: 20px;
  margin: 0px 10px;
  cursor: pointer;

  background-color: $selector-bg;
  color:            $selector-color;
  font:             $object-description-font;
}

.content .card select.selector {
  border: 1px solid #aaa;
  height: 32px;
  width: 272px;
}

.content .card .selector[data-node-type=aptlab] {
  background-image: url('/images/aptlab.png');
}

.content .card .selector[data-node-type=ec2] {
  background-image: url('/images/ec2.png');
}

html > body > .content > .dropdown {
  position: fixed;
  display: none;
  z-index: 99999;
  max-height: 120px;
}

@mixin object-descriptor {
  cursor: pointer;
  width: 100%;
  padding: 5px 0px;
  height: 27px;

  &:hover {
    background-color: #eee;

    padding: 4px 0px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  h2 {
    display: block;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 26px;
    padding: 0;
    padding-left: 43px;
    color: $workflow-label-type-color;
    font: $workflow-label-type-font;
  }

  h2:last-child {
    color: $workflow-label-name-color;
    font: $workflow-label-name-font;
    font-size: 13px;
    line-height: 26px;
  }

  p {
    display: block;
    margin-top: -15px;
    padding: 0;
    padding-left: 43px;
    color: $workflow-label-name-color;
    font: $workflow-label-name-font;
  }
}

html > body > .content .object-header {
  @include object-descriptor;

  padding: 5px 1px;

  &:hover {
    border: 1px solid #ccc;
    padding: 4px 0px;
  }
}

html > body > .content ul.object-list,
html > body > .content > .dropdown {
  width: 264px;
  overflow: auto;
  background-color: white;
  border: 1px solid #aaa;

  li {
    @include object-descriptor;
  }
}
