/* Styling for tabs (many variations) on the site
 */

/* Card Navigation Tabs */
ul.tabs.card-tabs {
  margin: 0;
  padding: 0;

  background-color: $tab-strip-bg;

  margin-top: 2px;
  margin-bottom: -2px;
  display: block;
  position: relative;

  border-bottom: 2px solid $tab-strip-accent-color;

  > li.tab {
    position: relative;
    cursor:  pointer;
    display: inline-block;
    background-color: $tab-inactive-bg;
    margin: 0;
    margin-bottom: -2px;
    padding: 0;
    padding-left: 1px;
    border-bottom: 2px solid $tab-inactive-accent-color;
    vertical-align: top;

    > a {
      display: inline-block;
      padding: 10px;
      padding-top: 13px;
      line-height: 20px;
      height: 20px;

      font: $tab-font;
    }

    > a:hover {
      text-decoration: none;
    }
  }

  > li.tab.active {
    background-color: $tab-active-bg;
    border-bottom-color: $tab-active-accent-color;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin-left: -1px;
    z-index: 999;

    a {
      font: $tab-active-font;
    }
  }

  > li.tab:hover {
    background-color: $tab-hover-bg;
    border-bottom-color: $tab-hover-accent-color;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin-left: -1px;
  }

  > li.tab.active:first-child ,
  > li.tab:hover:first-child {
    border-left: none;
    margin-left: 0px;
  }

  > li.tab.active + li.tab ,
  > li.tab:hover + li.tab {
    padding-left: 0px;
  }
}

.card ul.tabs.card-tabs {
  margin-bottom: 0;
}

/* Outer Card Tabs */
ul.tabs.triangular {
  display: block;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: -2px;
}

ul.tabs.triangular li.tab {
  position: relative;
  color: #777;
  cursor: pointer;
  display: inline-block;
  height: 19px;
  margin-top: 5px;
  padding-top: 6px;

  padding-right: 7px;
  padding-left: 5px;

  font-family: "Open Sans";
  font-size: 12px;

  background-color: #d8d8d8;
  border-top: 1px solid #777;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

ul.tabs.triangular li.tab a {
  color: #777;
}

ul.tabs.triangular li.tab:before ,
ul.tabs.triangular li.tab:after {
  position: absolute;
  overflow: hidden;
  display: block;
  height: 30px;
  width: 14px;
  bottom: -5px;
  background-color: #d8d8d8;
  content: "";
}

/*#results-bar ul li:before ,*/
ul.tabs.triangular li.tab:before {
  z-index: -2;
  border-left: 1px solid #777;
  left: -9px;
  border-top-left-radius: 5px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

ul.tabs.triangular li.tab:after {
  z-index: -1;
  border-right: 1px solid #777;
  right: -9px;
  content: "";
  border-top-right-radius: 5px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

ul.tabs.triangular li.tab.active {
  background-color: hsl(190, 80%, 40%);
  color: #eee;
  z-index: 2;
}

ul.tabs.triangular li.tab.active a {
  color: #eee;
}

ul.tabs.triangular li.tab a:hover {
  text-decoration: none;
}

ul.tabs.triangular li.tab.active:before,
ul.tabs.triangular li.tab.active:after {
  background-color: hsl(190, 80%, 40%);
}

/* Inner Card Tabs */
.card ul.tabs.rounded {
  display: block;
  position: relative;
  height: 37px;
  z-index: 1;
  overflow: visible;
  border-bottom: 1px solid #ddd;
}

/* First active tab edge */
/* Will be covered up by first inactive tab edge */
.card ul.tabs.rounded:before {
  content: "";
  position: absolute;
  left: 0px;
  border-left: none;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 24px;
  width: 15px;
  bottom: -1px;
  padding: 0;
  margin: 0;
  z-index: 3;
  background-color: white;
}

.card ul.tabs.rounded li.tab {
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  position: relative;
  color: #777;
  cursor: pointer;
  display: inline-block;
  height: 25px;

  margin-top: 5px;

  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;

  font-family: "Open Sans";
  font-size: 16px;

  background-color: white;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 9px;
  margin-right: 10px;
}

.card ul.tabs.rounded li.tab:first-child {
  margin-left: 15px;
}

.card ul.tabs.rounded li.tab:before,
.card ul.tabs.rounded li.tab:after {
  display: none;
  left: auto;
  right: auto;
  position: absolute;
  content: "";
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  border-top-left-radius: none;
  border-top-right-radius: none;
}

/* Every tab assumes the next tab is active
 * and places a ./` line to its right,
 * unless, of course, it is the last tab. */
.card ul.tabs.rounded li.tab:not(:last-child):after {
  right: -24px;
  border-left: none;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 24px;
  width: 15px;
  bottom: -1px;
  padding: 0;
  margin: 0;
  z-index: 100;
  background-color: white;
}

/* Active tabs replace the ./` line with a
 * `\. line to the right. */
.card ul.tabs.rounded li.tab.active:after {
  right: -16px;
  border-right: none;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  display: inline-block;
  height: 24px;
  width: 15px;
  bottom: -11px;
  padding: 0;
  margin: 0;
  z-index: 4;
  background-color: white;
}

/* Non-active tabs that do not follow an active
 * tab overlap a | to the left, obscuring the ./` */
.card ul.tabs.rounded li.tab:not(.active) + li.tab:not(.active):before {
  content: "";
  left: -15px;
  color: #aaa;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 17px;
  width: 1px;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
  bottom: 0px;
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: #ddd;
  box-shadow: 0 1px 1px -1px #ddd;
}

/* First tab needs to obscure the ul.tabs ./` */
.card ul.tabs.rounded li.tab:not(.active):first-child:before {
  content: "";
  left: -15px;
  color: #aaa;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 25px;
  width: 16px;
  bottom: -1px;
  padding: 0;
  margin: 0;
  z-index: 4;
  background-color: white;
}

/* Active tabs must cover the bottom line of ul.tabs */
.card ul.tabs.rounded li.tab.active:before {
  position: absolute;
  display: block;
  z-index: 0;

  border: none;
  border-radius: 0;

  width: auto;
  left: -10px;
  right: -10px;
  height: 10px;
  bottom: -11px;
  background-color: white;

  border: none;
}

/* Active tabs are shorter so their borders do
 * not go past the rounded edges */
.card ul.tabs.rounded li.tab.active {
  height: 15px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #eee;
}

.card ul.tabs.rounded li.tab a {
  position: relative;
  color: #aaa;
  z-index: 9999;
}

.card ul.tabs.rounded li.tab.active a {
  color: #777;
  font-weight: 800;
}

/* Bubbles */
.card ul.tabs.bubble {
  background-color: $tab-bubble-bg;
  display: block;
  position: relative;
  z-index: 1;
  overflow: visible;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-bottom: 10px;
  padding-top: 10px;

  li.tab a,
  li.tab {
    display: inline-block;
    color: #aaa;

    font-family: "Open Sans";
    font-size: 16px;

    cursor: pointer;

    a {
      cursor: pointer;

      &.icon {
        padding-left: 25px;
        background-repeat: no-repeat;
        height: 20px;
        line-height: 20px;
        background-size: 20px 20px;
      }
    }
  }

  li.tab.active a,
  li.tab.active {
    color: #777;
    font-weight: bold;
  }

  li.tab:hover a,
  li.tab:hover {
    text-decoration: none;
  }

  li.tab:first-child {
    margin-left: 10px;
  }

  // Tab dividers
  li.tab + li.tab {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
  }
}

/* Embedded View */
html.embedded ul.card-tabs.tabs {
  position: absolute;
  right: 0;
  top: -52px;

  box-shadow: 1px -2px 6px 1px #aaa;
  z-index: 999;

  > li.tab {
    z-index: 999;
    border-bottom: none;

    a {
      line-height: 21px;
      height: 25px;
    }
  }
}
