/* This styles the test viewer widget which shows the tests for an object
 * including the structure and documentation for each section.
 */

.content .card > .test-viewer {
  margin-top: 15px;
}

.content .card > .test-viewer .section {
  margin-left: 20px;
}

.content .card > .test-viewer h2 {
  font: $test-viewer-header-font;
  color: $test-viewer-header-color;
}

.content .card > .test-viewer h3 {
  font: $test-viewer-method-font;
  color: $test-viewer-method-color;
}

.content .card > .test-viewer .stories {
  margin-left: 20px;
}

.content .card > .test-viewer .story {
  font: $test-viewer-story-font;
  color: $test-viewer-story-color;
  height: 20px;
  margin-top: 15px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.content .card > .test-viewer .story[data-symbol=\.] {
  background-image: url('/images/success.png');
}

.content .card > .test-viewer .story[data-symbol=F] {
  background-image: url('/images/error.png');
}

.result .test-success {
  margin-top: 15px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0px 1px;
  background-image: url('/images/success.png');
}

.result .test-failure {
  margin-top: 15px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0px 1px;
  background-image: url('/images/error.png');
}
