- if not defined?(running_connections)
  - running_connections = []

- if not defined?(done_connections)
  - done_connections = []

- if not defined?(editable)
  - editable = false

%ul.workflow.fitted{:id => (editable ? "workflow" : "")}
  -# The popup container
  .container.embedded.mold{:tabindex => 999}
    .container-content
      %ul.context-menu
        - if editable
          %li.remove
            %a
              Remove
          %li.configure
            %a
              Configure
        %li.view
          %a
            View
            %span.revision
              @abc123

  %li.connection
    .row
      - klass = []
      - if tail_connections.any? && tail_connections.first['object_realized'] && tail_connections.first['object_realized'].outputs.empty? && tail_connections.first['connections'].count > 1
        - klass << "many"
      - if tail_connections.empty? || (tail_connections.first['object_realized'].nil?) || (tail_connections.first['object_realized'] && tail_connections.first['object_realized'].outputs.empty? && tail_connections.first['connections'].empty?)
        - klass << "none"
      .cell{:class => klass}
        .edge.top
        .edge.bottom
        %ul.connections
          - if tail_connections.any?
            - if tail_connections.first['object_realized'] && tail_connections.first['object_realized'].outputs.any?
              = partial :"workflows/object", :locals => {:done_connections => done_connections, :running_connections => running_connections, :workset => workset, :workflow => workflow, :connection => tail_connections.first, :object => tail_connections.first['object_realized'], :experiment => experiment, :editable => editable, :parent => nil}
            - else
              - tail_connections.first['connections'].each do |connection|
                = partial :"workflows/object", :locals => {:done_connections => done_connections, :running_connections => running_connections, :workset => workset, :workflow => workflow, :connection => connection, :object => connection['object_realized'], :experiment => experiment, :editable => editable, :parent => tail_connections.first['object_realized']}
      - if tail_connections.any?
        - connection = tail_connections.first
        - object     = connection['object_realized']
        - created    = connection['object']['created']
        - if object && object.described_outputs.any?
          - object = object.described_outputs.first
          - created = true
        - if !object.nil? || created
          .object.start
            .container{:class => (created ? "created" : "")}
              .label.type
                - if object
                  #{object.object_type}
                - else
                  #{connection['object']['type']}
              .label.name
                - if object && !object.name.blank?
                  #{object.name}
                - else
                  generated
              .container-content.icon{:class => (object.nil? ? "" : object.object_type_safe)}
                - if defined?(editable) && editable && workset && workset.can_edit?(current_person)
                  %form{:action => objectURL(experiment, "/connections/#{connection['index']}", :workset => workset, :object => experiment, :full => true), :method => :post, :name => :remove_connection}
                    %input{:type => :hidden, :value => 'delete', :name => :_method}
                    %input.delete{:type => :submit, :value => "detach"}
                %h3.type
                  #{connection['object']['type']}
                - if object
                  %h3.name
                    - if !created
                      %a{:href => "/objects/#{object.uid}/#{connection['object']['revision']}"}
                        #{object.name}
                    - else
                      #{object.name}
                  %h3.revision
                    #{(connection['object']['revision'] || "")[0..6]}
                  - if !created
                    %ul.outputs
                      %li
                        %a.button{:href => "/objects/#{object.uid}/#{connection['object']['revision']}/configurations"}
                          Defaults
                - else
                  %h3.name
                    #{connection['object']['name']}
              .label.type{:"aria-hidden" => "true"}
                - if object
                  #{object.object_type}
                - else
                  #{connection['object']['type']}
              .label.name{:"aria-hidden" => "true"}
                - if object && !object.name.blank?
                  #{object.name}
                - else
                  generated
            .edge.top
            .edge.bottom
            .edge.left
            .edge.right
      - elsif editable
        .object.start.input
          .container.input.wide
            .container-content
              %form{:action => objectURL(experiment, "/connections", :workset => workset, :object => experiment, :full => true), :method => :post, :name => :add_connection}
                %input{:name => :connection_index, :type => :hidden, :value => "-1"}
                %input.object-type.expandable{:type => :text, :name => :object_type, :value => "", :autocomplete => "off"}
                %input.object-name.expandable{:type => :text, :name => :object_name, :value => "", :autocomplete => "off"}
                %input.object-id{:type => :hidden, :name => :object, :value => ""}
                %input.object-revision{:type => :hidden, :name => :object_revision, :value => ""}
                %input{:name => :run_order, :type => :hidden, :value => 0}
                %ul.options
                  %li
                    %input.button{:name => :submit, :type => :submit, :value => "Attach"}
          .edge.top
          .edge.bottom
          .edge.right
          .edge.left
