-# Purpose: Displays the code for this OCCAM instance.
-#
-# Locals:

%h1.system
  .icon.system
  .statistics
  .name<
    System Code
.description
  :markdown
    This page shows the code that the server is currently using along with its structure and the status of the software test suite.

.card
  %h2
    OCCAM Worker

  = render_test_viewer(tests)
