%li.run{:"data-run-id" => run.id}
  %span.expand.shown
    &#x25be;
  .collapsible
    - if not run.done?
      %form{:action => "/runs/#{run.id}", :method => :post}
        %input{:type => :hidden, :value => 'delete', :name => :_method}
        %input.run-action.cancel-link{:style => "float: right", :type=>:submit, :value => I18n.t('common.cancel')}
    - else
      %form{:action => "/runs/#{run.id}", :method => :post}
        %input{:type=>:hidden, :name => :archived, :value => (run.archived == 1 ? 0 : 1).to_s}
        %input.run-action.archive-link{:style => "float: right", :type=>:submit, :value => I18n.t('common.archive')}
    .information.run-header
      - if run.published
        .history
          %h2
            = I18n.t 'subsubheaders.run.submitted'
          %p
            #{I18n.localize run.published, :format => :long}

    - if run.experiment and run.workset
      = partial :"workflows/show", :locals => {:experiment => run.experiment, :workset => run.workset, :tail_connections => run.experiment.tail_connections, :workflow => run.experiment.workflow, :running_connections => run.running_connections, :done_connections => run.done_connections}
    - else
      %p
        Error finding dependent objects for this Run.

    .information
      .progress
        %h2
          = I18n.t 'subsubheaders.run.progress'
        - jobs_done = 0
        .data
          %ul.progress-bar
            - run.jobs.each do |job|
              %li.progress-cell{:"data-job-id" => job.id, :class => ((job.status == :finished) ? "complete" : ((job.status == :running) ? "in-progress" : ""))}
              - if job.status == :finished
                - jobs_done += 1
          %p
            (#{jobs_done}/#{run.jobs.count})
    = partial :"jobs/terminals", :locals => {:run => run, :jobs => run.jobs}
