!!!
%html
  %head
    = partial(:head)
    %title
      - title = yield_content :title
      - if title.length > 0
        #{title} -
      OCCAM
  %body
    = partial(:topbar)
    .content
      = find_and_preserve do
        = yield
    = partial(:footer)
    = partial(:scripts)
