- if object_info.has_key? 'contains'
  - object_info['contains'].each_with_index do |dependency, itemIndex|
    - if dependency['type'] == 'experiment'
      - experiment_info = dependency
      - experiment = Occam::Object.findExperiment(experiment_info['id'], experiment_info['revision'])
      - if experiment
        %tr.experiment.row{:"data-group-uuid" => experiment.uid, :"data-group-revision" => experiment.revision, :"data-workset-uuid" => workset.uid, :"data-workset-revision" => workset.revision, :class => (experiment.worksetBelongsTo && experiment.worksetBelongsTo.uid != workset.uid) ? "linked" : ""}
          %td.expand
          %td.name
            - if experiment_info['revision'] == experiment.revision
              - if head_view
                %a{:href => objectURL(experiment, nil, :object => experiment, :workset => workset, :full => true)}
                  #{experiment.name}
              - else
                %a{:href => objectURL(experiment, nil, :object => experiment, :workset => workset, :full => true)}
                  #{experiment.name}
            - else
              %a{:href => objectURL(experiment, nil, :object => experiment, :workset => workset, :full => true)}
                #{experiment.name}
          - if workset.can_edit?(current_person)
            %td.actions{:style => "width: 1%"}
              %form.inline{:action => objectURL(object, "/contents/#{itemIndex}", :full => true), :method => :post}
                %input{:type => :hidden, :value => 'delete', :name => :_method}
                %input.delete.link{:type => :submit, :value => 'delete', :name => :delete}
