-# Purpose: Displays a form to create a new set of experiments
-#
-# Locals: errors     - A collection of errors that are passed when the form
-#                      is reloaded after a validation error. nil when no errors.
-#         experiment - The default or in-progress experiment object.
-#         simulators - The list of names of simulators available.

- content_for :scripts do
  %script{:src=>"/js/parsley/parsley.min.js"}
  %script{:src=>"/js/validation.js"}

%h1.experiment
  .icon.experiment<
  .statistics
  .name<
    New Experiment
  .parent<
    %span.black
      within
    - if group
      %a{:href => "/worksets/#{workset.id}/groups/#{group.id}"}<
        = group.name
      %span.black
        in
    %a{:href => "/worksets/#{workset.id}"}<
      = workset.name

= partial :errors, :locals => {:errors => errors}

.card
  - if workflow.nil? && simulators.empty?
    %p
      There are no objects active on the system. Please
      = succeed('.') do
        %a{:href => "/objects/import"}<
          Add one
  - else
    - if workflow
      %h2
        Workflow
      = partial :"workflows/show", :locals => {:workflow => workflow, :workflows => [workflow]}

%form.modal{:action => "/worksets/#{workset.id}/#{(group ? "groups/#{group.id}/" : "")}/experiments", :method => :post, :name => :experiment_create}
  .card
    - if workset
      %input{:type => "hidden", :id => :workset, :name => :workset, :value => workset.id}
    - if workflow
      %input{:name => :workflow, :type => "hidden", :value => workflow.id}
    %label{:for => :name}
      name
    %input{:type => "text", :id => :name, :name => :name, :value => group.name}
    %label{:for => :tags}
      tags
    %input.tagged.autocomplete{:type => "text", :"data-source" => "/experiments/tags", :id => :tags, :name => :tags, :value => experiment.tags}

  - if workflow
    - workflow.connections.each do |connection|
      - if connection.object.configurations.any?
        .card
          %h2
            #{connection.object.name} options
            %a.help-bubble{:href => "?help=options_#{connection.id}"}
              help
          .help{:"aria-hidden" => (help.nil? or help == "options_#{connection.id}") ? "true" : "false"}
            %p
              Use ranged options to create a set of experiments.
            %p
              Type
              %code
                1 to 4
              in a field to sweep an option and create an experiment for each valid value in that range.
          - if connection.object.binaries.any?
            .configuration-search-options
              = render_binary_form(connection.object, connection.id)
          - connection.object.configurations.each do |configuration|
            %h3
              #{configuration.name}
            .configuration-search-options
              = render_ranged_form({}, configuration.schema, {}, configuration.object, connection.id, configuration.id)
  .card.filled
    .submit
      %input.button{:type => "submit", :value => "Create", :name => :submit}
