%li.object{:class => "#{connection['creates']} #{'base' if base} #{connection['co_runnable'] == 1 ? 'fifo' : ''}"}>
  .row
    %ul.connections
      = partial :"workflows/object", :locals => {:workset => workset, :experiment => experiment, :workflow => workflow, :base => false, :connection => connection, :object => connection['object_realized'], :recurse => false, :running_connections => running_connections, :editable => editable}
    .info
      .container.created
        .edge.top.left
        .edge.bottom.left
        .container-content
          %h3.type
            #{connection['creates']}
          %h3.name
            { created }
          %ul.outputs
        .edge.top.right
        .edge.bottom.right
