- if not defined?(running_connections)
  - running_connections = []

- if not defined?(done_connections)
  - done_connections = []

- if not defined?(editable)
  - editable = false

-# Workflow content
%ul.workflow.fitted{:id => (editable ? "workflow" : " ")}
  -# The popup container
  .container.embedded.mold{:tabindex => 999}
    .container-content
      %ul.context-menu
        %li.remove
          %a
            Remove
        %li.configure
          %a
            Configure
        %li.view
          %a
            View
            %span.revision
              @abc123

  %li.object
    .row
      %ul.connections
        - tail_connections.each do |connection|
          = partial :"workflows/object", :locals => {:done_connections => done_connections, :running_connections => running_connections, :workset => workset, :workflow => workflow, :base => false, :connection => connection, :object => connection['object_realized'], :experiment => experiment, :recurse => false, :parent => nil, :editable => editable}
        - unless tail_connections.any?
          %li.object.start.input
            .row
              .info
                .container.input.wide
                  .edge.top.left
                  .edge.bottom.left
                  .container-content
                    %form{:action => objectURL(experiment, "/connections", :workset => workset, :object => experiment, :full => true), :method => :post, :name => :add_connection}
                      %input{:name => :connection_index, :type => :hidden, :value => "-1"}
                      %input.object-type.expandable{:type => :text, :name => :object_type, :value => "", :autocomplete => "off"}
                      %input.object-name.expandable{:type => :text, :name => :object_name, :value => "", :autocomplete => "off"}
                      %input.object-id{:type => :hidden, :name => :object, :value => ""}
                      %input{:name => :run_order, :type => :hidden, :value => 0}
                      %ul.options
                        %li
                          %input.button{:name => :submit, :type => :submit, :value => "Attach"}
                  .edge.top.right
                  .edge.bottom.right
      - if tail_connections.any?
        - connection = tail_connections.first
        - object     = connection["object_realized"]
        .info
          .container
            .edge.top.left
            .edge.bottom.left
            .container-content
              %h3
                Data
              - if object
                %ul.options
                  %li
                    %a.button{:href=>"/objects/#{object.uid}/#{object.revision}/outputs/0"}
                      Schema
