%table.directory.information.base
  - worksets.each do |workset|
    %tr.row.workset{:"data-workset-uuid" => workset.uid, :"data-workset-revision" => workset.revision}
      %td.expand
      %td.name
        %span
          #{workset.name}
