%h1.person
  .statistics<>
    %ul.roles<>
      - if person.account
        - person.account.get_roles.each do |role|
          %li{:class => role}<>
            #{role}
  %nav
    %ul
  .large-icon.person<
    %img.avatar{:src => person.avatar_url(96)}
  .type<
    #{" "}
  .name<
    = person.name
  .organization<
    = person.organization

.bio.description
  - if !person.description.blank?
    :markdown
      #{person.description}

  - if current_person and person.id == current_person.id
    %p.edit-profile-link
      %a.edit-profile{:href => "/people/#{current_person.uid}/edit"}
        = I18n.t 'common.editProfile'
