- content_for :title do
  #{person.name} - #{I18n.t('subheaders.allWork')}

= partial :"people/header", :locals => {:person => person}

= partial :errors, :locals => {:errors => errors}

- if current_person and current_person.id == person.id
  .card
    %h2
      = I18n.t 'subheaders.allWork'

    - if person.runs.any?
      %ul.runs-list
        -# TODO: pagination
        - if defined?(filter) and filter == "running"
          - person.running_runs.each do |run|
            = partial :"runs/list", :locals => {:run => run}
        - elsif defined?(filter) and filter == "finished"
          - person.done_runs.each do |run|
            = partial :"runs/list", :locals => {:run => run}
        - else
          - person.runs.each do |run|
            = partial :"runs/list", :locals => {:run => run}
