-# Purpose:	Displays the search form.
-#
-# Locals:	errors		- A collection of errors that are passed when the form
-#

%h1.search
  .large-icon.search
  .name
    Search

%form.modal{:action => "/search", :method => :post, :name => :search}
  .card
    %h2
      Basic Search
    %input{:type => "text", :name => :search}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => "Search"}

- content_for :scripts do
  %script{:src=>"/js/search.js"}
