-# Purpose: Displays a form to create a new set of experiments
-#
-# Locals: errors     - A collection of errors that are passed when the form
-#                      is reloaded after a validation error. nil when no errors.
-#         experiment - The default or in-progress experiment object.
-#         simulators - The list of names of simulators available.

- content_for :scripts do
  %script{:src=>"/js/parsley/parsley.min.js"}
  %script{:src=>"/js/validation.js"}

%h1.group
  .icon.group<
  .statistics
  .name<
    New Group
  .parent<
    %span.black
      within
    %a{:href => "/worksets/#{workset.id}"}<
      = workset.name

= partial :errors, :locals => {:errors => errors}

- if workflow.nil? && simulators.empty?
  %p
    There are no objects active on the system. Please
    = succeed('.') do
      %a{:href => "/objects/import"}<
        Add one
- else
  %form.modal{:action => "/worksets/#{workset.id}/groups", :method => :post, :name => :groups_new}
    - if workset
      %input{:type => "hidden", :id => :workset, :name => :workset, :value => workset.id}
    %label{:for => :name}
      name
    %input{:type => "text", :id => :name, :name => :name, :value => experiment.name}
    - if workflow
      %input{:name => :workflow, :type => "hidden", :value => workflow.id}
    %label{:for => :tags}
      tags
    %input.tagged.autocomplete{:type => "text", :"data-source" => "/experiments/tags", :id => :tags, :name => :tags, :value => experiment.tags}
    - if workflow
      %h2
        Workflow
      = partial :"workflows/show", :locals => {:workflow => nil, :workflows => [workflow]}
    .submit
      %input.button{:type => "submit", :value => "Create", :name => :submit}
