-# Purpose: Displays the profile for the specified Group
-#
-# Locals:  workset       - The particular Workset this group belongs to.
-#          group  - The particular Group to show.
-#          simulator     - The Simulator this Group runs with.
-#          experiments   - All Experiments that are part of this Group.
-#          forked_from   - The Group that this Group was cloned from.
-#          person       - The Person that created this Group.

- content_for :title do
  #{group.name}

%h1.group
  .icon.group<
  .statistics
    %ul
      %li.experiments
        %span.units
          experiments
        %span.value
          = group.experiments.count
  .type<
    group
  .name<
    = object_info['name']
  .parent<
    %span.black
      within
    - if group
      - if head_view
        %a{:href => "/worksets/#{workset.uid}/groups/#{group.uid}"}<
          = group.name
      - else
        %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}"}<
          = group.name
      %span.black
        in
    - if head_view
      %a{:href => "/worksets/#{workset.uid}"}<
        = workset.name
    - else
      %a{:href => "/worksets/#{workset.uid}/#{workset.revision}"}<
        = workset.name

.card
  %ul.image-list.right
    - # TODO: handle clonedFrom generation!
    %li.fork
      %a{:href => "/worksets/#{workset.id}/fork#{local ? "?path=#{path}" : ""}"}
        Fork this group

  .information
    .uuid
      %h2
        UUID
      %p
        #{group.uid}
    .revision
      %h2
        Revision
      %p
        #{revision}
    .history
      %h2
        History
      %p
        - parent = group.parentRevision
        - if parent
          %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}/#{parent}"}<
            #{parent[0..6]}...
          \>
        current
        - children = group.childRevisions
        - if not children.empty?
          \>
          %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}/#{children.first}"}<
            #{children.first[0..6]}...
    .authors
      %h2
        Creator
      %p
        - if person
          %a{:href => "/people/#{person.uid}"}
            #{person.username}
        - else
          anonymous
    - if object_info['authors']
      .authors
        %h2
          Authors
        %ul
          - object_info['authors'].each do |author|
            %li
              = author
  - if forked_us && !forked_us.empty?
    %h2
      Forks
    %ul.image-list.forked_us
      - forked_us.each do |forked_group|
        %li.fork
          %a{:href => "/worksets/#{workset.id}/groups/#{forked_group.id}"}
            #{forked_group.name}

- if workflow
  .card
    %h2
      Workflow
      %a.help-bubble{:href => "?help=workflow"}
        help

    .help{:"aria-hidden" => (!(workflow && workflow.connections.empty? && workset.workflow.connections.empty?) or help == "workflow") ? "true" : "false"}
      :markdown
        A **workflow** describes which objects are involved with running experiments within this *group*.

        Currently, no objects are specified from either this group or inherited through the workset. This means that you cannot create a new experiment within this group. You must specify at least one object in your workflow.

    = partial :"workflows/show", :locals => {:workflow => workset.workflow, :workflows => [workset.workflow]}

.card
  %h2
    Directory
    %a.help-bubble{:href => "?help=experiments"}
      help

  .help{:"aria-hidden" => (!(experiments.empty?) or help == "experiments") ? "true" : "false"}
    :markdown
      **Experiments** are any single run of your workflow. For instance, they can be a single run of a benchmark with some simulator. *Groups* are a collection of such runs. The listing of the experiments, their results, and actions to restart or graph those results will appear here.

      You can either add experiments one-by-one by selecting **Add Experiment** or you may elect to have the group automatically manage a collection of experiments by giving it a configuration where some options are either sets of values or a range of values.

  %table.directory.information
    = partial :"groups/list", :locals => {:head_view => head_view, :object_info => object_info, :groups => groups, :workset => workset}
    = partial :"experiments/list", :locals => {:head_view => head_view, :object_info => object_info, :groups => groups, :workset => workset}
    - if workset.can_edit?(current_person)
      %tr.header
        %td{:colspan => "999"}
          Add a New Object
      %tr.row.group.add
        %td.expand
        %td
          %span.input
            %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}/#{group.revision}/groups", :method => :post}
              %input{:type=>'text', :name => 'name'}
              %input.button{:type => :submit, :value => "New Group"}
      %tr.row.experiment.add
        %td.expand
        %td
          %span.input
            %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}/#{group.revision}/experiments", :method => :post}
              %input{:type=>'text', :name => 'name'}
              %input.button{:type => :submit, :value => "New Experiment"}
      %tr.row.object.add
        %td.expand
        %td
          %span.input
            %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}/#{group.revision}/objects", :method => :post}
              %input{:type=>'text', :name => 'name'}
              %input.button{:type => :submit, :value => "New Object"}
