- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/workflow.css'}

%h1.graph
  .icon.graph<
  .name<
    Graph
  - if !person.organization.blank?
    .organization<
      = person.organization

%h2.title
  = graph.data["title"] || "Graph Title"

.graph#graph

- content_for :scripts do
  %script{:src => "http://code.highcharts.com/highcharts.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/highcharts-3d.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/modules/exporting.js", :type => "text/javascript"}
  %script{:src=>"/js/nv.d3.min.js"}
  %script{:type => "text/javascript"}
    var data = #{graph.data.to_json};
    var type = #{graph.type.to_json};

    data.selector = "#graph";
    data.width = "600";

    var occam = new OccamViz();
    occam.graphs[type](data);
