.card.terminal.filled
  %h2
    = I18n.t 'subheaders.build'

  %ul.tabs.bubble
    %li.tab.active
      %a
        = I18n.t 'tabs.terminal'
    %li.tab
      %a
        = I18n.t 'tabs.pastBuilds'

  %ul.tab-panels
    %li.tab-panel.active
      .terminal#build-terminal{:"data-link-text"       => I18n.t('common.build'),
                               :tabindex               => "1",
                               :"data-object-id"       => object.uid,
                               :"data-object-revision" => object.revision}
    %li.tab-panel{:"aria-hidden" => "true"}
      %ul.builds
        - builds = object.retrieveInvocationData('builds') || []
        - if builds.nil? or builds.empty?
          %p
            = I18n.t 'common.noBuilds'
        - else
          - builds.each do |build|
            %li
              %ul.information.small
                - if build.has_key?('origin')
                  %li.name
                    %h2
                      = I18n.t 'subsubheaders.builds.host'
                    %p
                      #{build['origin']['host']}:#{build['origin']['port']}
                %li.history
                  %h2
                    = I18n.t 'subsubheaders.builds.time'
                  %p
                    #{ChronicDuration.output(build['time'].round(2))}
                %li.date
                  %h2
                    = I18n.t 'subsubheaders.builds.date'
                  %p
                    #{I18n.l(Time.iso8601(build['date']))}
                %li.progress
                  %h2
                    = I18n.t 'subsubheaders.builds.result'
                  %p
                    #{build['success'] ? "Successful" : "Failure"}
                %li.backend
                  %h2
                    = I18n.t 'subsubheaders.builds.backend'
                  %p
                    #{build['backend']}
