.card.min-height
  - if object_info['type'] == 'workset' && !reviewing
    .authors.section
      %h2.authors.icon
        = I18n.t 'subsubheaders.authors'
      %ul.people.authors>
        - workset.authorships.each do |authorship|
          %li>
            - person = authorship.person
            - if person
              %img.avatar{:src => person.avatar_url(24)}>
              %a{:href => "/people/#{person.uid}"}>#{person.name}
            - else
              %img.avatar{:src => Occam::Person.default_avatar(24)}>
              #{authorship.name}
            - if workset.can_edit?(current_person)
              %form.inline{:action => objectURL(object, "/authors/#{authorship.id}", :full => true),
                           :method => :post}
                %input{:type  => :hidden,
                       :value => 'delete',
                       :name  => :_method}
                %input.link{:type  => :submit,
                            :value => I18n.t('fields.remove'),
                            :name  => :delete}
        - if workset.can_edit?(current_person)
          %form{:action => objectURL(object, "/authors", :full => true), :method => :post}
            %li.new>
              %input.auto-complete{:autocomplete       => "off",
                                   :"data-object-type" => "person",
                                   :value              => "",
                                   :placeholder        => I18n.t('fields.placeholders.username'),
                                   :name               => "username"}
              %input.button{:value => I18n.t('fields.add'),
                            :type  => :submit,
                            :name  => "add"}
    .collaborators.section
      %h2.collaborators.icon
        = I18n.t 'subsubheaders.collaborators'
      %ul.people.collaborators>
        - workset.collaboratorships.each do |collaboratorship|
          %li>
            - person = collaboratorship.person
            - if person
              %img.avatar{:src => person.avatar_url(24)}>
              %a{:href => "/people/#{person.uid}"}>#{person.name}
            - else
              %img.avatar{:src => Occam::Person.default_avatar(24)}>
              #{collaboratorship.name}
            - if workset.can_edit?(current_person)
              %form.inline{:action => objectURL(object, "/collaborators/#{collaboratorship.id}", :full => true),
                           :method => :post}
                %input{:type  => :hidden,
                       :value => 'delete',
                       :name  => :_method}
                %input.link{:type  => :submit,
                            :value => I18n.t('fields.remove'),
                            :name  => :delete}
        - if workset.can_edit?(current_person)
          %form{:action => objectURL(object, "/collaborators", :full => true), :method => :post}
            %li.new>
              %input.auto-complete{:autocomplete       => "off",
                                   :"data-object-type" => "person",
                                   :value              => "",
                                   :placeholder        => I18n.t('fields.placeholders.username'),
                                   :name               => "username"}
              %input.button{:value => I18n.t('fields.add'),
                            :type  => :submit,
                            :name  => "add"}
  %h2
    = I18n.t 'subheaders.directory'
    - if workset.can_edit?(current_person)
      %a.help-bubble{:href => "?help=directory"}
        = I18n.t 'alt-text.help'

  - if (workset.can_edit?(current_person)) or help == "directory"
    .help{:"aria-hidden" => !((groups.empty? and experiments.empty?) or help == "directory") ? "true" : "false"}
      = render(:markdown, I18n.t('help.directory'))

  %table.directory.information
    -# List the groups
    = partial :"groups/list",      :locals => {:head_view   => head_view,
                                               :object_info => object_info,
                                               :groups      => groups,
                                               :workset     => workset,
                                               :object      => object}

    -# List the objects (paper, volume, etc)
    = partial :"objects/list",     :locals => {:head_view   => head_view,
                                               :object_info => object_info,
                                               :groups      => groups,
                                               :workset     => workset,
                                               :object      => object}

    -# List the experiments last
    = partial :"experiments/list", :locals => {:head_view   => head_view,
                                               :object_info => object_info,
                                               :groups      => groups,
                                               :workset     => workset,
                                               :object      => object}

    - if workset.can_edit?(current_person)
      %table.directory.information
        %tr.header
          %td{:colspan => "999"}
            = I18n.t 'fields.addNewObject'
        %tr.row.add
          %td{:colspan => "999"}
            %form{:action => objectURL(object, "/objects", :full => true), :method => :post}
              %select.selector{:name => "type"}>
                %option{:"data-icon" => 'experiment',
                        :"data-i18n" => I18n.t('objectTypes.experiment')}>
                  experiment
                %option{:"data-icon" => 'group',
                        :"data-i18n" => I18n.t('objectTypes.group')}>
                  group
                %option{:"data-icon" => 'paper',
                        :"data-i18n" => I18n.t('objectTypes.paper')}>
                  paper
                %option{:"data-icon" => 'volume',
                        :"data-i18n" => I18n.t('objectTypes.volume')}>
                  volume
                %option{:"data-icon" => 'object',
                        :"data-i18n" => I18n.t('objectTypes.object')}>
                  object
              %input{:value       => "",
                     :placeholder => I18n.t('fields.placeholders.name'),
                     :name        => "name"}
              %input.button{:value => I18n.t('fields.add'),
                            :type  => :submit,
                            :name  => "add"}
