.card
  %h2
    Configuration
    %a.help-bubble{:href => "?help=configuration"}
      help
  .help{:"aria-hidden" => (help.nil? or help == "configuration") ? "true" : "false"}
    %p
      Use ranged options to create a set of experiments.
    %p
      Type
      %code
        1 - 4
      in a field to sweep an option and create an experiment for each valid value in that range.
  %ul.configurations.tabs
    - inner_tab_count = 0
    - if object.configurators.any?
      - inner_tab_count += 1
      %li.configuration.tab.active
        %a
          Widget
    - object.configurations.each do |configuration|
      - inner_tab_count += 1
      %li.configuration.tab{:class => (inner_tab_count == 1 ? "active" : "")}
        %a
          #{configuration['name']}
    - inner_tab_count += 1
    %li.tab{:class => (inner_tab_count == 1 ? "active" : "")}
      %a
        Files
  .tab-panels.configurations
    - inner_tab_count = 0
    - if object.configurators.any?
      - inner_tab_count += 1
      .tab-panel{:class => (inner_tab_count == 1 ? "active" : ""), :"aria-hidden" => (inner_tab_count == 1 ? "false" : "true")}
        %h3
          Configurator Widget
        - object.configurators.each_with_index do |configurator, i|
          %input.hidden{:type => :hidden, :name => :"attach_configurator_id[#{i}]", :value => configurator.uid}
          %input.hidden{:type => :hidden, :name => :"attach_configurator_revision[#{i}]", :value => configurator.revision}
          %input.hidden{:type => :hidden, :name => :"attach_configurator_file[#{i}]", :value => configurator.objectInfo()['file']}
          %input.attach-configurator.button{:type => :button, :name => :"attach_configurator_#{i}", :value => "Attach #{configurator.name}"}
        %p#configurator.configurator{:"data-connection-index" => index, :"data-configurator-url" => "", :"data-configurator-file" => ""}
        %input{:type => :hidden, :name => :configurator_id, :value => ""}
        %input{:type => :hidden, :name => :configurator_rev, :value => ""}
        %input{:type => :hidden, :name => :configurator_data, :value => "{}"}
    - object.configurations.each_with_index do |configuration, configuration_index|
      - inner_tab_count += 1
      .tab-panel.configuration{:class => (inner_tab_count == 1 ? "active" : ""), :"aria-hidden" => (inner_tab_count == 1 ? "false" : "true")}
        = partial(:"objects/configuration", :locals => {:object => object, :workset => workset, :index => 0, :configuration_index => configuration_index, :configuration => configuration}
.card.filled
  .submit
    %input.button{:type => "submit", :value => "Update", :name => :submit}
