.card.terminal.filled
  %h2
    = I18n.t 'subheaders.console'

  %ul.tabs.bubble
    %li.tab.active
      %a
        = I18n.t 'tabs.terminal'

  %ul.tab-panels
    %li.tab-panel.active
      .terminal#console-terminal{:tabindex               => "1",
                                 :"data-object-id"       => object.uid,
                                 :"data-object-revision" => object.revision}
