= partial :"objects/directory", :locals => {:path => path, :fileInfo => fileInfo, :object => object, :object_info => object_info, :workset => workset}

- if (not object.local?) && defined?(data) && data
  .card.filled
    %h2
      #{I18n.t 'subheaders.data'} (#{data_mime_type})

    %pre
      = preserve do
        :escaped
          #{data}
- elsif (not object.local?) && path && object.fileIsImage?(path)
  .card.filled
    %h2
      #{I18n.t 'subheaders.data'} (#{data_mime_type})

    .img
      %img{:src => objectURL(object, "raw/#{path}")}
- elsif (not object.local?) && path && !object.fileIsGroup?(path)
  .card.filled
    %h2
      #{I18n.t 'subheaders.data'} (#{data_mime_type})

    %p
      %a{:href => objectURL(object, "raw/#{path}")}
        = I18n.t 'common.download'
