- links = false if not defined?(links)
- checkboxes = false if not defined?(checkboxes)
- form_prefix = "" if not defined?(form_prefix)
- selected_paths = [] if not defined?(selected_paths)

%table.directory.information
  - unless path.nil? || path == "" || path == "/"
    %tr.row.group
      %td.size
      %td.name{:colspan => "999"}
        - if links
          - if path && path.include?('/')
            %a{:href => objectURL(object, "tree/#{path}/..")}
              \..
          - else
            %a{:href => objectURL(object, "files")}
              \..
        - else
          \..
  -# Add git repositories
  - (object_info['install'] || []).each do |install|
    - if install['type'] == "git"
      %tr.row.git.group
        %td.size
        %td.name
          - if links
            %a{:href => "/objects/#{install['id']}/#{install['revision']}/files"}<
              #{install['to'] || 'package'}
          - else
            #{install['to'] || 'package'}
          %span.revision
            @#{install['revision']}
        %td.actions
  - object.eachFile(path, :order => :group) do |info|
    %tr.row{:class => [(info[:type] == "tree" ? "group" : "file"), object.fileType(info[:name]).split('/').map{|type| "mime-#{type}"}.join(' ')]}
      - if checkboxes
        %td.checkbox
          - if info[:type] != "tree"
            - file_path = "#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}"
            - base64_id = Base64.urlsafe_encode64(file_path)
            - base64_id.chomp!('=')
            - base64_id.chomp!('=')
            - base64_id.chomp!('=')
            %input.checkbox{:type => :checkbox, :name => "#{form_prefix}[#{base64_id}]", :checked => (selected_paths && selected_paths.include?(file_path))}
      %td.size
        #{info[:size]}
      %td.name
        - if links
          %a{:href => objectURL(object, "tree/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}
            #{info[:name]}
        - else
          #{info[:name]}
      - if links
        %td.actions
          - if info[:type] != "tree"
            %a{:href => objectURL(object, "raw/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}
              = I18n.t 'common.download'
  - (object_info['install'] || []).each do |install|
    - if install['type'] == "file" || install['type'] == "application/zip"
      %tr.row.file{:class => [object.fileType(install['to']).split('/').map{|type| "mime-#{type}"}.join(' ')]}
        %td.size
        %td.name
          - if links
            %a{:href => "/objects/#{install['id']}/#{install['revision']}/files"}<
              #{install['to'] || 'package'}
          - else
            #{install['to'] || 'package'}
          %span.revision
            @#{install['revision']}
        %td.actions
      - if install['type'] == "application/zip" && (install['actions'] || {}).has_key?('unpack')
        - resourceObject = Occam::Object.where(:uid => install['id']).first
        - if resourceObject
          - resourceObject.revision = install['revision']
          - resourceObject.eachFile(path, :order => :group) do |info|
            %tr.row{:class => [(info[:type] == "tree" ? "group" : "file"), resourceObject.fileType(info[:name]).split('/').map{|type| "mime-#{type}"}.join(' ')]}
              %td.size
                #{info[:size]}
              %td.name
                - if links
                  %a{:href => objectURL(resourceObject, "tree/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}
                    #{info[:name]}
                - else
                  #{info[:name]}
                %span.revision
                  @#{install['revision']}
              - if links
                %td.actions
                  - if info[:type] != "tree"
                    %a{:href => objectURL(resourceObject, "raw/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}
                      = I18n.t 'common.download'
  -# Add file resources
  - if defined?(workset) and workset and workset.can_edit?(current_person)
    - if object.fileIsGroup?(path)
      %table.directory.information
        %tr.header
          %td{:colspan => "999"}
            = I18n.t 'fields.addFiles'
        %tr.row.add.group
          %td{:colspan => "999"}
            %span.input
              %form{:action => objectURL(object, "/tree/#{path}", :full => true), :method => :post}
                %input{:type => :input, :name => "directory_name"}
                %input.button{:type => :submit, :value => I18n.t('fields.addNewGroup')}
        %tr.row.add.upload
          %td{:colspan => "999"}
            %span.input
              %form{:action => objectURL(object, "/tree/#{path}", :full => true), :method => :post, :enctype=>"multipart/form-data"}
                %input.file{:type => :file, :name => 'files[]', :multiple => true}
                %input.button{:type => :submit, :value => I18n.t('common.upload')}
