- # TODO: clean this up
- # TODO: place this in a model
- if object_info.has_key? 'contains'
  - object_info['contains'].each_with_index do |dependency, itemIndex|
    - if dependency['type'] != 'experiment' && dependency['type'] != 'group'
      - obj_info = dependency
      - obj = Occam::Object.where(:uid => obj_info['id']).first
      - if obj
        %tr.row
          %td.expand.icon{:class => obj_info['type']}
          %td.name
            - if obj_info['revision'] == obj.revision
              %a{:href => objectURL(obj, nil, :object => obj, :workset => workset, :full => true)}
                #{obj.name}
            - else
              %a{:href => objectURL(obj, nil, :object => obj, :workset => workset, :full => false)}
                #{obj.name}
          - if workset.can_edit?(current_person)
            %td.actions{:style => "width: 1%"}
              %form.inline{:action => objectURL(object, "/contents/#{itemIndex}", :workset => workset, :full => true), :method => :post}
                %input{:type => :hidden, :value => 'delete', :name => :_method}
                %input.delete.link{:type => :submit, :value => 'delete', :name => :delete}
