.card.filled
  - # TODO: History
  - images = object_info['images'] || []
  - if images.any?
    %table.images
      %tr
        - if images.length > 0
          %td{:rowspan => 2, :colspan => 2}
            %a{:href => objectURL(object, "raw/#{images[0]}"), :"data-lightbox" => "images-#{object_info['id']}"}
              %img{:src => objectURL(object, "raw/#{images[0]}")}
        - if images.length > 1
          %td
            %a{:href => objectURL(object, "raw/#{images[1]}"), :"data-lightbox" => "images-#{object_info['id']}"}
              %img{:src => objectURL(object, "raw/#{images[1]}")}
      - if images.length > 2
        %tr
          %td
            %a{:href => objectURL(object, "raw/#{images[2]}"), :"data-lightbox" => "images-#{object_info['id']}"}
              %img{:src => objectURL(object, "raw/#{images[2]}")}
      - if images.length > 3
        %tr
          %td
            %a{:href => objectURL(object, "raw/#{images[3]}"), :"data-lightbox" => "images-#{object_info['id']}"}
              %img{:src => objectURL(object, "raw/#{images[3]}")}
          - if images.length > 4
            %td
              %a{:href => objectURL(object, "raw/#{images[4]}"), :"data-lightbox" => "images-#{object_info['id']}"}
                %img{:src => objectURL(object, "raw/#{images[4]}")}
          - if images.length > 5
            %td
              %a{:href => objectURL(object, "raw/#{images[5]}"), :"data-lightbox" => "images-#{object_info['id']}"}
                %img{:src => objectURL(object, "raw/#{images[5]}")}
  %h2
    = I18n.t 'subheaders.information'
  .information
    - # TODO: URLs
    .uuid
      %h2.icon.uuid
        = I18n.t 'subsubheaders.uuid'
      %p
        #{object.uid}
    .revision
      %h2.icon.revision
        = I18n.t 'subsubheaders.revision'
      %p
        #{object.revision}
    - if object.owner_uid
      - owner = Occam::Object.where(:uid => object.owner_uid).first
      - if owner
        .within.object
          %h2.object.icon
            = I18n.t 'subsubheaders.within'
          %p
            %a{:href => "/objects/#{object.owner_uid}/#{object.revision}"}
              #{owner.object_type} #{owner.name}
    - if object_info['authors']
      .authors
        %h2.icon.authors
          = I18n.t 'subsubheaders.authors'
        %ul
          - object_info['authors'].each do |author|
            %li
              - if isUUID(author)
                - person = Occam::Object.findPerson(author)
                - if person
                  %a{:href => "/people/#{person.uid}"}
                    #{person.name}
                - else
                  #{author}
              - else
                #{author}
    - if object_info['collaborators']
      .authors
        %h2.icon.collaborators
          = I18n.t 'subsubheaders.collaborators'
        %ul
          - object_info['collaborators'].each do |author|
            %li
              = author
        -# TODO: author/collaborator add
    - if object_info.has_key? 'website'
      .website
        %h2.icon.website
          = I18n.t 'subsubheaders.website'
        %p
          %a{:href => object_info['website']}<
            #{object_info['website']}
    - if !reviewing && !object.local?
      .history
        %h2.icon.history
          = I18n.t 'subsubheaders.history'
        %p
          - parent = object.parentRevision
          - if parent
            %a{:href => objectURL(object, "", {:revision => parent})}<
              #{parent[0..6]}...
            \>
          = I18n.t 'subsubheaders.currentRevision'
          - children = object.childRevisions
          - if not children.empty?
            \>
            - children.each do |child_revision|
              %a{:href => objectURL(object, "", {:revision => child_revision})}<
                #{child_revision[0..6]}...,
    - if object_info.has_key? 'source'
      .source
        %h2.icon.source
          = I18n.t 'subsubheaders.source'
        %p
          #{object_info['source']}
    - if object_info.has_key? 'backed'
      .backed
        %h2.icon.backed
          = I18n.t 'subsubheaders.link'
        %p
          %a{:href => "/#{object_info['backed']}/#{object.uid}"}
            #{object_info['backed']}
    - if object_info.has_key? 'clonedFrom'
      .clonedFrom
        %h2.icon.clonedFrom
          = I18n.t 'subsubheaders.clonedFrom'
        %p
          - if object_info['clonedFrom'].is_a? String
            %a{:href => "/objects/#{object_info['clonedFrom']}"}
              #{object_info['clonedFrom']}
          - else
            - if object_info['clonedFrom'].has_key? 'type'
              #{object_info['clonedFrom']['type']}
            - if object_info['clonedFrom'].has_key? 'name'
              %a{:href => "/objects/#{object_info['clonedFrom']['id']}/#{object_info['clonedFrom']['revision']}"}
                #{object_info['clonedFrom']['name']}
            - else
              %a{:href => "/objects/#{object_info['clonedFrom']['id']}/#{object_info['clonedFrom']['revision']}"}
                #{object_info['clonedFrom']['id']}
    - if object_info.has_key? 'generator'
      .generator
        %h2.icon.generator
          = I18n.t 'subsubheaders.generator'
        %div
          - if object_info['generator'].is_a? String
            %p
              %a{:href => "/objects/#{object_info['generator']}"}
                #{object_info['generator']}
          - else
            %p
              - generator_object = object_info['generator']
              - task_object      = nil

              - if object_info['generator'].has_key?('task') && object_info['generator'].has_key?('object')
                - generator_object = object_info['generator']['object']
                - task_object      = object_info['generator']['task']

              - if generator_object
                - if generator_object.has_key? 'type'
                  #{generator_object['type']}
                - if generator_object.has_key? 'name'
                  %a{:href => "/objects/#{generator_object['id']}/#{generator_object['revision']}"}
                    #{generator_object['name']}
                - else
                  %a{:href => "/objects/#{generator_object['id']}/#{generator_object['revision']}"}
                    #{generator_object['id']}

            - if task_object
              %p
                via
                - if task_object.has_key? 'name'
                  %a{:href => "/objects/#{task_object['id']}/#{task_object['revision']}"}
                    #{task_object['name']}
                - else
                  %a{:href => "/objects/#{task_object['id']}/#{task_object['revision']}"}
                    #{task_object['id']}
    - if object_info.has_key? 'configures'
      .configuration
        %h2.icon.configuration
          = I18n.t 'subsubheaders.configures'
        %p
          - configures_object = Occam::Object.where(:uid => object_info['configures']['id']).first()
          - if configures_object
            %a{:href => objectURL(configures_object, "", :object => configures_object, :workset => nil)}
              #{configures_object.name}
          - else
            #{object_info['configures']['id']}
    - if object_info.has_key? 'views'
      .configuration
        %h2.icon.configuration
          = I18n.t 'subsubheaders.views'
        %ul
          - views = object_info['views'] || []
          - views = [views] if not views.is_a?(Array)
          - views.each do |objectType|
            - if objectType.is_a? Hash
              %a{:href => "/objects?by_type=#{objectType['type']}"}<
                #{objectType['type']}
              - if objectType.has_key? 'subtype'
                (#{objectType['subtype']})
            - else
              %a{:href => "/objects?by_type=#{objectType}"}
                #{objectType}
    - if object_info.has_key? 'configurations'
      .configuration
        %h2.icon.configuration
          = I18n.t 'subsubheaders.configuration'
        %ul
          - object_info['configurations'].each_with_index do |configuration, i|
            %li.configuration.default
              %a{:href => "/objects/#{object.uid}/#{object.revision}/configurations/#{i}"}
                #{configuration['name'] || "Unnamed Configuration"}
            -# TODO: recipes
            -#- recipes.each do |recipe|
            -#  %li.configuration
            -#    %a{:href => "/objects/#{object.id}/recipes/#{recipe.id}"}
            -#      #{recipe.name}
    -# TODO: associated objects / binaries
    -# TODO: runs binaries (attached to inputs)
    -# just f-phreaking list inputs gosh darn it
    - if object.configurators.any?
      .configuration
        %h2.icon.configuration
          = I18n.t 'subsubheaders.widgets'
        %ul
          - object.configurators.each do |configurator|
            %li
              %a{:href => "/objects/#{configurator.object_type_safe}/#{configurator.uid}"}
                #{configurator.name}
    - if object_info.has_key? 'environment'
      .environment
        %h2.icon.environment
          = I18n.t 'subsubheaders.environment'
        %p
          #{object_info['environment']}
    - if object_info.has_key? 'architecture'
      .architecture
        %h2.icon.architecture
          = I18n.t 'subsubheaders.architecture'
        %p
          #{object_info['architecture']}
    - if object_info['provides']
      .provides
        %h2.icon.provides
          = I18n.t 'subsubheaders.provides'
        %p
          #{object_info['provides']['environment']}/#{object_info['provides']['architecture']}
    - if (object_info['inputs'] && object_info['inputs'].any?) || object_info.has_key?('run')
      .inputs
        %h2.icon.inputs
          = I18n.t 'subsubheaders.inputs'
        - if object_info['inputs'].nil? or object_info['inputs'].empty?
          %p
            = I18n.t 'common.none'
        - else
          %ul
            - object_info['inputs'].each do |input|
              %li.input
                #{input['type']}
                - if input['group']
                  #{I18n.t('common.within')} #{input['group']}
    - if (object_info['inputs'] && object_info['inputs'].any?) || object_info.has_key?('run')
      .outputs
        %h2.icon.outputs
          = I18n.t 'subsubheaders.outputs'
        - if object_info['outputs'].nil? or object_info['outputs'].empty?
          %p
            = I18n.t 'common.none'
        - else
          %ul
            - object_info['outputs'].each_with_index do |output, i|
              %li.output
                #{output['type']}
                - if output.has_key? 'group'
                  #{I18n.t('common.within')} #{output['group']}
                - if output.has_key? 'schema'
                  %a{:href => "/objects/#{object.object_type}/#{object.uid}/#{object.revision}/outputs/#{i}"}
                    schema
    - if object_info['license']
      .license
        %h2.icon.license
          = I18n.t 'subsubheaders.license'
        %p
          #{object_info['license']}

    -# Links
    .perma-link
      %h2.icon.perma-link
        = I18n.t 'subsubheaders.perma-link'
      %p
        %a{:href => objectURL(object, nil, :full => true)}
          = I18n.t 'subsubheaders.link'
    .embed-link
      %h2.icon.embed-link
        = I18n.t 'subsubheaders.embed-link'
      %p
        %a{:href => objectURL(object, nil, :full => true, :query => "embed")}
          = I18n.t 'subsubheaders.link'

- if object_info['install'] && object_info['install'] != []
  .card.filled
    %h2
      = I18n.t 'subheaders.resources'

    .information
      - if object_info['install'].is_a? Hash
        - object_info['install'] = [object_info['install']]
      - object_info['install'].each do |repo|
        .repository
          %h2.icon.repository
            #{repo['type'] or "git"}
          %p
            - if repo.has_key? 'id'
              - if repo.has_key? 'revision'
                %a{:href => "/objects/#{repo['id']}/#{repo['revision']}"}<
                  #{repo['name'] || "unnamed"}
              - else
                %a{:href => "/objects/#{repo['id']}"}<
                  #{repo['name'] || "unnamed"}
            - else
              #{repo['name']} - uninstalled

            - if repo.has_key? 'source'
              \- #{repo['source']}
        - if repo.has_key? 'git'
          .foo
            %h2
            %p
              #{repo['git']}

- if object_info['build']
  .card.filled
    %h2
      = I18n.t 'subheaders.build'

    .information
      - if object_info['build']['script']
        .script
          %h2.icon.script
            = I18n.t 'subsubheaders.script'
          %p
            %a{:href => objectURL(object, "tree/#{object_info['build']['script']}")}
              #{object_info['build']['script']}
        .language
          %h2.icon.language
            = I18n.t 'subsubheaders.language'
          %p
            #{object_info['build']['language']} #{object_info['build']['version']}

- if object_info['run']
  .card.filled
    %h2
      = I18n.t 'subheaders.run'

    .information
      - if object_info['run']['script']
        .script
          %h2.icon.script
            = I18n.t 'subsubheaders.script'
          %p
            %a{:href => objectURL(object, "tree/#{object_info['run']['script']}")}
              #{object_info['run']['script']}
        .language
          %h2.icon.language
            = I18n.t 'subsubheaders.language'
          %p
            #{object_info['run']['language']} #{object_info['run']['version']}
      - if object_info['run']['command']
        .script
          %h2.icon.script
            = I18n.t 'subsubheaders.command'
          %p
            %a{:href => objectURL(object, "tree/#{object_info['run']['command']}")}
              #{object_info['run']['command']}

- if object_info['includes']
  .card.filled
    %h2
      = I18n.t 'subheaders.includes'

    .information
      - object_info['includes'].each do |obj|
        .object
          %h2.icon{:class => Occam::Object.slugFor(obj['type'])}
            #{obj['type']}
          %p
            %a{:href => "/objects/#{obj['id']}"}
              #{obj['name']}
