-# This page renders the outputs for this object.
-# Right now, it looks at just the outputs for the current revision
-# I'd like a link to see all outputs or maybe list all the revisions
-# and only expand the current one but let the others ajax in.

.card.filled
  %h2
    = I18n.t 'subheaders.output'
    %a.help-bubble{:href => "?help=output"}
      = I18n.t 'alt-text.help'

  .help{:"aria-hidden" => help != "output" ? "true" : "false"}
    = render(:markdown, I18n.t('help.output'))

  -# Pull down invocation data for what this object has generated
  - generated = object.retrieveInvocationData('output') || []
  - if generated.empty?
    - generated = object.retrieveInvocationData('generated') || []
  - if pagination[:pageIndex] && pagination[:pageItems]
    - pagination[:pageCount] = (generated.count.to_f / pagination[:pageItems].to_f).ceil
    - paginationStart = pagination[:pageItems]*(pagination[:pageIndex]-1)
    - paginationEnd   = paginationStart + pagination[:pageItems]
    - generated = generated[paginationStart..paginationEnd-1]

  = partial(:"objects/listview", :locals => {:pagination => pagination,
                                             :url        => objectURL(object, "output", :full => true),
                                             :objects    => generated,
                                             :noneText   => I18n.t('common.noOutput')})
