-# This renders an individual page item

.line
  - if workset && workset.can_edit?(current_person)
    .new-token
    .configure-token
- if item['type'] == "header"
  %h2.paper-widget{:"data-item-index" => item_index}
    #{(item['data'] || {})['content']}
- if item['type'] == "subheader"
  %h3.paper-widget{:"data-item-index" => item_index}
    #{(item['data'] || {})['content']}
- if item['type'] == "paragraph"
  %p.paper-widget{:"data-item-index" => item_index}
    #{(item['data'] || {})['content']}
- if item['type'] == "image"
  -# TODO: sanitize???
  %img.paper-widget{:"data-item-index" => item_index, :src => objectURL(object, "raw/#{item['data']}", :full => true)}
- if item['type'] == "widget"
  - object = (item['data'] || {})['object']
  - if object
    - object = Occam::Object.findObject(object['id'], object['revision'])

  - if object
    %iframe.paper-widget{:"data-item-index" => item_index, :style => "overflow: hidden; width: 100%; height: #{item['data'].has_key?('height') ? item['data']['height'] : "100%"}; display: block;", :sandbox=>"allow-scripts", :src=> objectURL(object, "raw/#{object.objectInfo['file']}", :full => true, :object => object), :"data-object-id" => object.uid, :"data-object-revision" => object.revision, :"data-object-name" => object.name, :"data-object-type" => object.object_type}
  - else
    = partial(:"objects/default_widget", :locals => {:data_item_index => item_index})
