.card
  %h2
    = I18n.t 'subheaders.pages'
    %a.help-bubble{:href => "?help=pages"}
      = I18n.t 'alt-text.help'

  .help{:"aria-hidden" => !(help == "pages" || !object_info.has_key?('pages') || object_info['pages'].empty?) ? "true" : "false"}
    = render(:markdown, I18n.t('help.pages'))

  %table.directory.information
    - (object_info['pages'] || []).each_with_index do |page, pageIndex|
      %tr.page.row{:"data-group-uuid" => object.uid, :"data-group-revision" => object.revision, :"data-workset-uuid" => workset.uid, :"data-workset-revision" => workset.revision}
        %td.expand.icon.page
        %td.name
          #{page['title']}
        %td.actions{:style => "width: 1%"}
          %a.up{:href => '#'}<
            = I18n.t 'alt-text.up'
          %a.down{:href => '#'}<
            = I18n.t 'alt-text.down'
          %form.inline{:action => objectURL(object, "/pages/#{pageIndex}", :full => true), :method => :post}
            %input{:type => :hidden, :value => 'delete', :name => :_method}
            %input.delete.link{:type => :submit, :value => I18n.t('alt-text.remove'), :name => :delete}

  %table.directory.information
    %tr.header
      %td{:colspan => "999"}
        = I18n.t 'fields.addNewPage'
    %tr.row.add
      %td{:colspan => "999"}
        %form{:action => objectURL(object, "/pages", :full => true), :method => :post}
          %select.selector{:name => "type"}>
            %option{:"data-icon" => 'page',
                    :"data-i18n" => I18n.t('paper.page')}>
              page
          %input{:value       => "",
                 :placeholder => I18n.t('fields.placeholders.name'),
                 :name        => "name"}
          %input.button{:value => I18n.t('fields.add'),
                        :type  =>"submit",
                        :name  => "add"}
