-# This renders for a "paper" object page
-# It will go through and render the content of the page

-# The new item selector for adding components/paragraphs etc to the page
.card.filled.page{:"aria-hidden" => "true"}
  .new.item
    .add-component
      %span
        = I18n.t ('paper.addComponent')
      %select.component.selector{:"data-node-type" => "occam"}<
        %option{:"data-icon" => "object",
                :"data-i18n" => I18n.t('paper.paragraph')}>
          paragraph
        %option{:"data-icon" => "object",
                :"data-i18n" => I18n.t('paper.header')}>
          header
        %option{:"data-icon" => "object",
                :"data-i18n" => I18n.t('paper.subheader')}>
          subheader
        %option{:"data-icon" => "object",
                :"data-i18n" => I18n.t('paper.image')}>
          image
        %option{:"data-icon" => "object",
                :"data-i18n" => I18n.t('paper.widget')}>
          widget
      %a.add-component-button.button{:href => "#"}
        = I18n.t 'paper.add'

-# The template for a new paragraph
.card.filled.page.paragraph-item.template{:"aria-hidden" => "true"}
  %p.paper-widget
    = I18n.t 'paper.defaultParagraph'

-# The template for a new widget
.card.filled.page.widget-item.template{:"aria-hidden" => "true"}
  = partial(:"objects/default_widget")

-# The template for the widget configuration card
.card.filled.page.widget-configuration.template{:"aria-hidden" => "true"}
  = partial(:"objects/widget_configuration")

= partial(:"objects/pagecard", :locals => {:object      => object,
                                           :page_index  => page_index,
                                           :items       => items,
                                           :page_info   => page_info,
                                           :workset     => workset,
                                           :item_index  => 0,
                                           :start_index => 0})
- if items.nil? || items.empty?
  - if workset && workset.can_edit?(current_person)
    .card.filled.page
      .line
        .new-token
