-# Locals:
-#   workset - The current Workset in question
-#      help - Which help section is current toggled

- if workset.can_edit?(current_person)
  .card.min-height
    %h2
      = I18n.t('subheaders.reviewLinks')
      %a.help-bubble{:href => "?help=review"}
        = I18n.t('alt-text.help')

    .help{:"aria-hidden" => !(workset.review_capabilities.empty? or help == "review") ? "true" : "false"}
      = render(:markdown, I18n.t('help.reviewLinks'))

    %ul.review-links
      - workset.review_capabilities.each do |review_capability|
        %li.review-link
          .meta-data
            %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/review-links/#{review_capability.id}", :method => :post, :name => :remove_review_link}
              %input{:type => :hidden, :value => 'delete', :name => :_method}
              %input.delete{:type => :submit, :value => "remove"}
            %span.date
              #{I18n.l review_capability.published.to_date, :format => :long}
            %span.revision
              #{review_capability.revision[0...6]}...
          %a{:href => "/worksets/#{workset.uid}/#{review_capability.revision}?review"}
            = I18n.t 'common.sharableLink'
    %form{:action => "/worksets/#{workset.uid}", :method => :post}
      %input{:type=>:hidden, :name => :review, :value => workset.revision}
      %input.button{:type => :submit, :value => I18n.t('fields.addReviewLink')}
