%ul.tabs.bubble
  %li.tab.active
    %a
      = I18n.t 'tabs.run'
  %li.tab
    %a
      = I18n.t 'tabs.log'
  %li.tab{:"aria-hidden" => "true"}
    %a
      = I18n.t 'tabs.terminal'
  %li.tab{:"aria-hidden" => "true"}
    %a
      = I18n.t 'tabs.video'

%ul.tab-panels.runner{:class => (defined?(separator_resize) && separator_resize) ? 'separator-resize' : ''}
  %li.tab-panel.run-form.active.fitted
    .card.runner
      .information
        .row
          %h2
            Dispatch To:
          %p
            %span.dispatch-selector.selector{:"data-node-type" => "occam"}<
              local
        .row
          %h2
            URL:
          %p
            %input{:type => :text, :name => "url", :value => "", :placeholder => "ssh://username@example.org"}

      - if workset
        - if object.object_type == "experiment"
          %a.queue-run.button{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{object.uid}/#{object.revision}/queue_job",
                              :type                    => :button,
                              :name                    => "queue",
                              :"data-object-id"        => object.uid,
                              :"data-object-revision"  => object.revision,
                              :value                   => I18n.t('common.enqueue'),
                              :"data-workset-id"       => workset.uid,
                              :"data-workset-revision" => workset.revision}
            = I18n.t 'common.enqueue'
        %input.start-run.button{:type                    => :button,
                                :name                    => "run",
                                :"data-object-id"        => object.uid,
                                :"data-object-revision"  => object.revision,
                                :value                   => I18n.t('common.run'),
                                :"data-workset-id"       => workset.uid,
                                :"data-workset-revision" => workset.revision}
      - else
        .buttons
          - if defined?(input)
            %input.start-run.button{:type => :button,
                                    :name => "run",
                                    :"data-object-id" => object.uid,
                                    :"data-object-revision" => object.revision,
                                    :"data-input-id" => input.uid,
                                    :"data-input-revision" => input.revision,
                                    :value => I18n.t('common.run')}
          - else
            %input.queue-run.button{:type => :button,
                                    :name => "queue",
                                    :"data-object-id" => object.uid,
                                    :"data-object-revision" => object.revision,
                                    :value => I18n.t('common.enqueue')}
            %input.start-run.button{:type => :button,
                                    :name => "run",
                                    :"data-object-id" => object.uid,
                                    :"data-object-revision" => object.revision,
                                    :value => I18n.t('common.run')}
  %li.tab-panel.run-log.fitted
    #run-log.log.fitted
  %li.tab-panel.run-terminal{:"aria-hidden" => "true"}
    - if workset
      .terminal#run-terminal{:"data-link-text"        => I18n.t('common.run'),
                             :tabindex                => "1",
                             :"data-object-id"        => object.uid,
                             :"data-object-revision " => object.revision,
                             :"data-workset-id"       => workset.uid,
                             :"data-workset-revision" => workset.revision}
    - elsif defined?(input)
      .terminal#run-terminal{:"data-link-text"       => I18n.t('common.run'),
                             :tabindex               => "1",
                             :"data-input-id"        => input.uid,
                             :"data-input-revision"  => input.revision,
                             :"data-object-id"       => object.uid,
                             :"data-object-revision" => object.revision}
    - else
      .terminal#run-terminal{:"data-link-text"       => I18n.t('common.run'),
                             :tabindex               => "1",
                             :"data-object-id"       => object.uid,
                             :"data-object-revision" => object.revision}
  %li.tab-panel.run-vnc{:"aria-hidden" => "true"}
    #noVNC_status_bar.noVNC_status_bar{:"aria-hidden" => "true"}
      #noVNC_status
        Press 'Start' to request a session.
      #noVNC_buttons{:"aria-hidden" => "true"}
        %span#noVNC_xvp_buttons
          %input#sendCtrlAltDelButton{:type => :button, :value => "CtrlAltDel"}
          %input#xvpShutdownButton{   :type => :button, :value => "Shutdown"}
          %input#xvpRebootButton{     :type => :button, :value => "Reboot"}
          %input#xvpResetButton{      :type => :button, :value => "Reset"}
          %input#pointerLockButton{   :type => :button, :value => "Pointer Lock"}

    #noVNC_container
      %input.button#stream_connect_button{:type => :button, :value => "Start"}
      %canvas#noVNC_canvas{:width =>"0", :height => "0"}
        Canvas support is required for this capability.
