-# Partial: renders the full metadata for an object, such as a Simulator

- if not defined?(workset)
  - workset = nil

%ul.card-tabs.tabs
  - tab_index = 0

  -# Pages
  - if object_info['type'] == 'paper' && workset && workset.can_edit?(current_person)
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "pages") ? 'active' : ''}>
      %a{:href => objectURL(object, "pages")}>
        - tab_index += 1
        = I18n.t 'tabs.pages'
  -# Page <#>
  - if object_info['pages'] && object_info['pages'].is_a?(Array) && object_info['pages'].length > 0
    - object_info['pages'].each_with_index do |page, page_index|
      %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "page-#{page_index}") ? 'active' : ''}>
        %a{:href => objectURL(object, "page-#{page_index}")}>
          - tab_index += 1
          #{page['title'] || I18n.t('tabs.page') % page_index}

  -# Workflow
  - if object_info['type'] == "experiment"
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "workflow") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "workflow")}>
        = I18n.t 'tabs.workflow'

  -# Contents
  - if (object.can_edit?(current_person) && ["workset", "group"].include?(object_info['type'])) || (object_info['contains'] && object_info['contains'].any?)
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "contents") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "contents")}>
        = I18n.t 'tabs.contents'

  -# View
  - if object_info['file']
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "view") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "view")}>
        = I18n.t 'tabs.view'

  -# Run
  - if object_info['run'] || object_info['type'] == 'experiment'
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "run") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "run")}>
        = I18n.t 'tabs.run'

  -# Provenance
  - if object_info['type'] == "occam/task" || object_info.has_key?('generator')
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "provenance") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "provenance")}>
        = I18n.t 'tabs.provenance'

  -# Review Links
  - if object_info['type'] == "workset" && object.can_edit?(current_person)
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "review_links") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "review_links")}>
        = I18n.t 'tabs.reviewLinks'

  -# Metadata
  %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "metadata") ? 'active' : ''}
    - tab_index += 1
    %a{:href => objectURL(object, "metadata")}>
      = I18n.t 'tabs.metadata'

  -# Files
  %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "files") ? 'active' : ''}>
    - tab_index += 1
    %a{:href => objectURL(object, "files")}>
      = I18n.t 'tabs.files'

  -# Output
  %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "output") ? 'active' : ''}>
    - tab_index += 1
    %a{:href => objectURL(object, "output")}>
      = I18n.t 'tabs.output'

  -# Build
  - if object_info['build']
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "build") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "build")}>
        = I18n.t 'tabs.build'

    -# Console
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "console") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "console")}>
        = I18n.t 'tabs.console'

  -# Citation
  - if object_info['citation']
    %li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "citation") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => objectURL(object, "citation")}>
        = I18n.t 'tabs.citation'

%ul.tab-panels
  - tab_index = 0

  -# Pages
  - if object_info['type'] == 'paper' && workset && workset.can_edit?(current_person)
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "pages") ? 'active' : ''}>
      = partial :"objects/pages", :locals => {:object => object, :object_info => object_info, :workset => workset, :help => help}
      - tab_index += 1

  -# Page <#>
  - if object_info['pages'] && object_info['pages'].is_a?(Array) && object_info['pages'].length > 0
    - object_info['pages'].each_with_index do |page, page_index|
      %li.page.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "page-#{page_index}") ? 'active' : ''}>
        = partial :"objects/page", :locals => {:page_index  => page_index,
                                               :object      => object,
                                               :object_info => object_info,
                                               :page_info   => page,
                                               :items       => page['items'],
                                               :workset     => workset}
        - tab_index += 1

  -# Workflow
  - if object_info['type'] == "experiment"
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "workflow") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/workflow", :locals => {:reviewing => reviewing, :workset => workset, :experiment => object, :object => object, :groups => object.groups, :experiments => object.experiments, :object_info => object_info, :help => help, :head_view => false}

  -# Contents
  - if (object.can_edit?(current_person) && ["workset", "group"].include?(object_info['type'])) || (object_info['contains'] && object_info['contains'].any?)
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "contents") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/contents", :locals => {:reviewing => reviewing, :workset => workset, :object => object, :groups => object.groups, :experiments => object.experiments, :object_info => object_info, :help => help, :head_view => false}

  -# View
  - if object_info['file']
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "view") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/view", :locals => {:viewers         => viewers,
                                             :preferredViewer => preferredViewer,
                                             :embedded        => embedded,
                                             :object          => object,
                                             :object_info     => object_info}

  -# Run
  - if object_info['run'] || object_info['type'] == 'experiment'
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "run") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/run", :locals => {:help => help,
                                            :workset => workset,
                                            :object => object,
                                            :object_info => object_info,
                                            :embedded => embedded,
                                            :runners => runners,
                                            :preferredRunner => preferredRunner}

  -# Provenance
  - if object_info['type'] == "occam/task" || object_info.has_key?('generator')
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "provenance") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/provenance", :locals => {:object => object, :object_info => object_info}

  -# Review Links
  - if object_info['type'] == "workset" && object.can_edit?(current_person)
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "review_links") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/review-links", :locals => {:workset => workset, :object => object, :object_info => object_info, :help => help}

  -# Metadata
  %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "metadata") ? 'active' : ''}>
    - tab_index += 1
    = partial :"objects/metadata", :locals => {:object => object, :object_info => object_info, :reviewing => reviewing}

  -# Files
  %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "files") ? 'active' : ''}>
    - tab_index += 1
    = partial :"objects/files", :locals => {:data => data, :workset => workset, :fileInfo => fileInfo, :path => path, :object => object, :object_info => object_info, :data_mime_type => data_mime_type}

  -# Output
  %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "output") ? 'active' : ''}>
    - tab_index += 1
    = partial :"objects/output", :locals => {:workset => workset, :object => object, :object_info => object_info, :help => help, :pagination => pagination}

  -# Build
  - if object_info['build']
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "build") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/build", :locals => {:workset => workset, :object => object, :object_info => object_info}

  -# Console
  - if object_info['build']
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "console") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/console", :locals => {:workset => workset, :object => object, :object_info => object_info}

  -# Citation
  - if object_info['citation']
    %li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "citation") ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/citation", :locals => {:object_info => object_info, :object => object}

- content_for :scripts do
  %script{:src=>"/js/noVNC/util.js"}
  %script{:src=>"/js/vnc.js"}
