- if !defined?(preview)
  - preview = false

- if !defined?(label)
  - label = I18n.t('object-selection.using')

- if !defined?(width)
  - width  = "100%"
  - height = "100%"

- viewerSize = viewerObject.objectInfo['size']

- if !defined?(resizeToAspectRatio)
  - resizeToAspectRatio = true

- if !defined?(height) || resizeToAspectRatio
  - if viewerSize && width.is_a?(Fixnum)
    - height = (viewerSize['height'].to_i || 300) * width / (viewerSize['width'].to_i || 350)

- if !defined?(scale)
  - scale = 1.0

- baseWidth = width
- baseHeight = height

- if width.is_a? Fixnum
  - baseWidth = "#{baseWidth}px"
  - width = width * scale
  - width = "#{width}px"

- if height.is_a? Fixnum
  - baseHeight = "#{baseHeight}px"
  - height = height * scale
  - height = "#{height}px"

- if viewerObject.objectInfo['architecture'] == 'html'
  .card.filled.object-viewer{:class => (preview ? "preview" : ""), :style => (preview ? "width: #{baseWidth}; height: #{baseHeight}" : "")}
    - iframeSrc = objectURL(viewerObject, "raw/#{viewerObject.objectInfo['file']}", :object => viewerObject, :workset => nil, :full => true)
    - src = iframeSrc
    - if preview
      - src = ""
    - if object
      %iframe.full-widget{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>"allow-pointer-lock allow-scripts", :src => src, :"data-src" => iframeSrc, :"data-input-object-id" => object.uid, :"data-input-object-revision" => object.revision}
    - else
      %iframe.full-widget{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>"allow-pointer-lock allow-scripts", :src => src, :"data-src" => iframeSrc}
  - if !preview
    .card.filled.object-runner.object-viewer.terminal{:style => "height: 350px", :"aria-hidden" => "true"}
      = partial(:"objects/runner", :locals => {:workset => nil,
                                               :object  => viewerObject,
                                               :separator_resize => true,
                                               :input   => object})
- else
  - if !preview
    .card.filled.object-viewer{:style => "height: 350px", :"aria-hidden" => 'true'}
      %iframe.full-widget{:style => "overflow: hidden; width: 100%; height: 100%; display: block;", :sandbox=>"allow-pointer-lock allow-scripts", :src => ""}
  .card.filled.object-runner.object-viewer.terminal{:style => "height: 350px"}
    = partial(:"objects/runner", :locals => {:workset => nil,
                                             :object  => viewerObject,
                                             :separator_resize => true,
                                             :input   => object})
- if !preview
  .card.filled.separator
  .card.filled
    .widget-label
      #{label}
      .widget-selection{:name => "widget-selection"}
        .large-icon.widget-object{:autocomplete => "off",
                                  :name         => "name",
                                  :placeholder  => I18n.t('fields.placeholders.selectObject'),
                                  :value        => viewerObject.name,
                                  :class        => viewerObject.typeClass}
          %a{:href => "/objects/#{viewerObject.uid}/#{viewerObject.revision}"}<
            #{viewerObject.name}
      - if current_person
        %form.association.inline{:method => :post, :action => "/people/#{current_person.uid}/associations"}
          %input{:type => :hidden, :value => viewerObject.uid, :name => "object_id"}
          %input{:type => :hidden, :value => object.object_type, :name => "views_type"}
          %input{:type => :hidden, :value => object.subtype, :name => "views_subtype"}
          %input.button{:type => :submit, :value => "Always Use For These Objects"}
      %a.open-options{:href => "#"}
        = I18n.t('object-selection.openOptions')
      %a.close-options{:href => "#", :"aria-hidden" => "true"}
        = I18n.t('object-selection.closeOptions')
    %ul.tabs.card-tabs{:"aria-hidden" => "true"}
      %li.tab.active>
        %a>
          = I18n.t('tabs.object')
      - if viewerObject.datapoints?
        %li.tab>
          %a>
            = I18n.t('tabs.datasets')
      - viewerObject.configurations.each do |configuration|
        %li.tab>
          %a>
            #{configuration['label'] || configuration['name']}
    %ul.tab-panels{:"aria-hidden" => "true"}
      %li.tab-panel.widget-selection.active
        .card
          %h2
            = I18n.t('object-selection.selectObject')

          %form.widget-selection{:name => "widget-selection"}
            .card.collapsable.collapsed
              %h3
                = I18n.t('object-selection.filters')
              %ul.information
                .by-type
                  %h2
                    = I18n.t('object-selection.filter.type')
                  %p
                    %input.auto-complete.object-type{:autocomplete => "off",
                                                     :name         => "type",
                                                     :placeholder  => I18n.t('fields.placeholders.filterByType'),
                                                     :value        => ""}
                .by-tag
                  %h2
                    = I18n.t('object-selection.filter.tag')
                  %p
                    %input.auto-complete.object-tag{:autocomplete => "off",
                                                    :name         => "tag",
                                                    :placeholder  => I18n.t('fields.placeholders.filterByTag'),
                                                    :value        => ""}
                .views-type
                  %h2
                    = I18n.t('object-selection.filter.views')
                  %p
                    %input.auto-complete.views-type{:name          => "views-type",
                                                    :disabled      => true,
                                                    :value         => object.type}
            %br
            - if defined?(widgetObject) && widgetObject
              %input.hidden{:type          => :hidden,
                            :"aria-hidden" => "true",
                            :name          => "object-id",
                            :value         => widgetObject.uid}
            %input.auto-complete{:autocomplete => "off",
                                 :name         => "name",
                                 :placeholder  => I18n.t('fields.placeholders.selectObject'),
                                 :value        => (defined?(widgetObject) && widgetObject) ? widgetObject.name : ""}
            %br
            %input.button{:type  => :submit,
                          :value => I18n.t('common.attach')}

          %h2
            = I18n.t('object-selection.recentlyUsed')

          - if current_person && current_person.recentlyUsedObjects.any?
            %ul.object-list.recently-used
              - current_person.recentlyUsedObjects.each do |object|
                %li.object
                  %h2.large-icon{:class => object.typeClass}
                    #{object.type}
                  %p
                    #{object.name}
                  %input{:type  => :hidden,
                         :name  => "object-id",
                         :value => object.uid}
                  %input{:type  => :hidden,
                         :name  => "object-revision",
                         :value => object.revision}
          - elsif current_person
            %p
              = I18n.t('common.none')
          - else
            %p
              = I18n.t('common.noSession')
      - if viewerObject.datapoints?
        %li.tab-panel
          %ul.tabs.outputs.bubble
            %li.tab.active
              %a
                = I18n.t('tabs.openData')
          %ul.tab-panels.outputs
            %li.tab-panel.active
              %h2
                = I18n.t('subheaders.openFromWorkset')

              - if current_person
                = partial(:"worksets/list", :locals => {:head_view => false, :worksets => current_person.worksets})
              - else
                %p
                  = I18n.t('common.noSessionWorksets')

      - viewerObject.configurations.each_with_index do |configuration, index|
        %li.tab-panel.configuration{:"data-key" => Base64.urlsafe_encode64(configuration['name']), :"data-object-id" => object.uid, :"data-object-revision" => viewerObject.revision, :"data-configuration-index" => index}
