= partial(:"objects/show", :locals => { :object => object,
                                        :object_info => object_info,
                                        :workset => workset,
                                        :help => help,
                                        :tab => tab,
                                        :viewers => viewers,
                                        :reviewing => false,
                                        :storedRevision => storedRevision,
                                        :revision => revision })
