-# Purpose: Displays the history for the specified object
-#
-# Locals:  object - The particular object to view.

- workset = nil if not defined?(workset)

- content_for :title do
  #{object.name} [#{object.object_type}] - History

- if defined?(reviewing) && reviewing
  .card.blue
    %p
      This is a reviewer snapshot. Authorship information has been removed.

- if (!defined?(reviewing) || !reviewing) and (storedRevision != object.revision)
  .card.blue
    %p
      This is a snapshot of this workset as it looked in the past.&nbsp;
      %a{:href => objectURL(object, nil, {:revision => nil, :workset_revision => nil})}<>
        Go to the most recent version
      \.

-# Render Object Header
= partial(:"objects/header", {:locals => {:reviewing   => reviewing,
                                          :help        => help,
                                          :embedded    => embedded,
                                          :object_info => object_info,
                                          :revision    => revision,
                                          :object      => object,
                                          :workset     => workset}})

= partial(:"objects/history", {:locals => {:object_info => object_info,
                               :revision => revision,
                               :object => object,
                               :workset => workset}})
