-#
-#
-# Locals: objects - List of matching objects

%h1.object
  .large-icon.object<
  .name<
    Objects
  .organization<
    Collection of objects known to this OCCAM system

- if !objects.empty?
  .card
    - if params["by_tag"]
      %h2
        By Tag: "#{params["by_tag"]}"
    - if params["by_type"]
      %h2
        Listing All of Type: "#{params["by_type"]}"
    %ul.information
      - objects.each do |object|
        %li.object
          %h2.type
            #{object.object_type}
          %p
            %a{:href => "/objects/#{object.uid}"}
              #{object.name}

- if objects.empty?
  .card
    %p
      No objects.
