-# Purpose: Displays the object builder
-#
-# Locals:  object - The object we are building

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/object_builder.css'}

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/object_builder.js"}

%h1{:class => object.type}
  .icon{:class => object.type}<
  .statistics
    %ul
      %li.worksets
        %span.units
          worksets
        %span.value
          0
      %li.experiments
        %span.units
          experiments
        %span.value
          0
  .name<
    New Object
  .description<
    Object Builder

%form.modal{:action => "/objects", :method => :post, :name => :objects_new}
  .card
    %label{:for => :name}
      name
    %input{:type => "text", :id => :name, :name => :name}

    %label{:for => :type}
      type
    %input{:type => "text", :id => :type, :name => :type}

  .card.collapsable
    %h2
      Metadata
      %a.help-bubble{:href => "?help=metadata"}
        help

    .help{:"aria-hidden" => help != "metadata" ? "true" : "false"}
      :markdown
        This section holds the metadata for this object.
        This data is optional, but helps define the source and origin
        of the object.
        For instance, adding a website points people to the community around
        this object. The authors tag should contain a list of those
        responsible for developing or maintaining the object.

    %label{:for => :organization}
      organization
    %input{:type => "text", :name => :organization, :id => :organization}

    %label{:for => :website}
      website
    %input{:type => "text", :name => :website, :id => :website}

    %label{:for => :authors}
      authors
    %input{:type => "text", :name => :authors, :id => :authors}

    %label{:for => :license}
      license
    %input{:type => "text", :name => :license, :id => :license}

    %label{:for => :tags}
      tags
    %input{:type => "text", :name => :tags, :id => :tags}

  .card.collapsable
    %h2
      Citation
      %a.help-bubble{:href => "?help=citation"}
        help

    .help{:"aria-hidden" => help != "citation" ? "true" : "false"}
      :markdown
        This section holds the citation that should be applied when
        referencing this object. This is generally to another work, or paper, or
        technical report that the object authors wish to be used on independent
        research papers, articles, etc to cite this object.

    %label{:for => :citation_title}
      title
    %input{:type => "text", :name => :citation_title, :id => :citation_title}

    %label{:for => :citation_author}
      author
    %input{:type => "text", :name => :citation_author, :id => :citation_author}

    %label{:for => :citation_journal}
      journal
    %input{:type => "text", :name => :citation_journal, :id => :citation_journal}

    %label{:for => :citation_volume}
      volume
    %input{:type => "text", :name => :citation_volume, :id => :citation_volume}

    %label{:for => :citation_number}
      number
    %input{:type => "text", :name => :citation_number, :id => :citation_number}

    %label{:for => :citation_pages}
      pages
    %input{:type => "text", :name => :citation_pages, :id => :citation_pages}

    %label{:for => :citation_month}
      month
    %input{:type => "text", :name => :citation_month, :id => :citation_month}

    %label{:for => :citation_year}
      year
    %input{:type => "text", :name => :citation_year, :id => :citation_year}

    %label{:for => :citation_doi}
      doi
    %input{:type => "text", :name => :citation_doi, :id => :citation_doi}

    %label{:for => :citation_issn}
      issn
    %input{:type => "text", :name => :citation_issn, :id => :citation_issn}

    %label{:for => :citation_keywords}
      keywords
    %input{:type => "text", :name => :citation_keywords, :id => :citation_keywords}

  .card.collapsable
    %h2
      Inputs
      %a.help-bubble{:href => "?help=inputs"}
        help

    .help{:"aria-hidden" => help != "inputs" ? "true" : "false"}
      :markdown
        This section depicts what objects can be used as inputs to this one.

    %h3
      Possible Input Objects

    %ul.inputs
      %li.input
        .remove
        .information
          .type
            %h2
              type
            %p
              benchmark
          .group
            %h2
              group
            %p
              Sniper
          .corun
            %h2
              corun
            %p
              No
      %li.input
        .remove
        .information
          .type
            %h2
              type
            %p
              benchmark
          .corun
            %h2
              corun
            %p
              No
    %h3
      Add Input

    %label{:for => :new_input_type}
      type
    %input{:type => :text, :name => :new_input_type}

    %label{:for => :new_input_group}
      group
    %input{:type => :text, :name => :new_input_group}

    %label{:for => :new_input_corun}
      corunning?
      %input{:type => :checkbox, :name => :new_input_corun}

    %br
    %input.button{:type => :submit, :name => :add_repo, :value => "Add"}

  .card.collapsable
    %h2
      Outputs
      %a.help-bubble{:href => "?help=outputs"}
        help

    .help{:"aria-hidden" => help != "outputs" ? "true" : "false"}
      :markdown
        This section depicts what objects are potentially created as a result of running this object.

  .card.collapsable
    %h2
      Configurations
      %a.help-bubble{:href => "?help=configurations"}
        help

    .help{:"aria-hidden" => help != "configurations" ? "true" : "false"}
      :markdown
        This section describes the configuration parameters that are used to drive this object when the object runs.

    %h3
      Simulation Options

    .configuration-search-options
      %ul.configuration-group
        %li
          .remove
          %label>
            Foo
          %span.expand>
            [+]
          .select
            %select
              %option
                int
              %option
                float
              %option
                string
              %option
                enum
          .dots
          .parameters
            %ul.fields
              %li.field
                %label{}
                  Label
                %input.label{:type => :text, :value => "Foo"}
                .dots
              %li.field
                %label{}
                  Key
                %input{:type => :text}
                .dots
              %li.field.enumerable_values
                %label{}
                  Enumerable Values
                %ul.values
                  %li.value.field
                    .remove>
                    %label{}
                      LRU
                  %li.value.field
                    .remove>
                    %label{}
                      MRU
                  %li.value.field
                    .remove>
                    %label{}
                      Random
                  %li.value.field.add
                    .add
                    %input{:type => :text}
              %li.field
                %label{}
                  Default
                %input{:type => :text}
                .dots
              %li.field
                %label{}
                  Validations
                %ul.validations
                  %li.validation.field
                    .remove>
                    %label{}
                      min
                    %input{:type => :text}
                    .dots
                  %li.validation.field.add
                    .add
                    .select
                      %select
                        %option
                          min
                        %option
                          max
                        %option
                          test
              %li.field
                %label{}
                  Description
                %textarea
                  The description of this field.
        %li
          .add
          %input{:type => :text}

    %h3
      Add Configuration

  .card.collapsable
    %h2
      Install
      %a.help-bubble{:href => "?help=install"}
        help

    .help{:"aria-hidden" => help != "install" ? "true" : "false"}
      :markdown
        This section describes the resources the object needs in order to build.

    %h3
      repositories

    %ul.repos
      %li.repo
        .remove
        .information
          .type
            %h2
              type
            %p
              git
          .url
            %h2
              url
            %p
              git://github.com/dramninjasUMD/DRAMSim2.git
          .to
            %h2
              to
            %p
              package

    %h3
      add repository

    %label{:for => :package_type}
      type
    %select{:name => :package_type}
      %option
        git
      %option
        hg
      %option
        svn
      %option
        tar

    %label{:for => :url}
      url
    %input{:type => :text, :name => :url}

    %label{:for => :to}
      to
    %input{:type => :text, :name => :to, :value => "package"}
    %br
    %input.button{:type => :submit, :name => :add_repo, :value => "Add"}

  .card.collapsable
    %h2
      Build
      %a.help-bubble{:href => "?help=build"}
        help

    .help{:"aria-hidden" => help != "build" ? "true" : "false"}
      :markdown
        This section describes the process of building this object including any libraries it needs to install.

    %h3
      Directory Structure

    %ul.directory
      %li.directory
        %ul.information
          %li.name
            %span.name
              package
          %li.repository
            %span.repository
              git://github.com/dramninjasUMD/DRAMSim2.git
      %li.file
        %span.name
          object.json

    %h3
      packages

    %ul.packages

    %h3
      script

    %label{:for => :build_language}
      language
    %select{:id => :build_language}
      %option{:"data-extension" => "sh"}
        bash
      %option{:"data-extension" => "py"}
        python
      %option{:"data-extension" => "rb"}
        ruby
      %option{:"data-extension" => "pl"}
        perl

    %label{:for => :build_version}
      version
    %input{:type => "text", :name => :build_version, :id => :build_version}

    %label{:for => :build_code}
      code
    %textarea{:id => :build_code, :name => :build_code}
      :preserve
        #{"# script code\n\ncd package\nmake"}

  .card.collapsable.terminal.filled{:"aria-hidden" => "true"}
    %h2
      Build Test
    .terminal.build-test{:tabIndex => "0", :"data-link-text" => "Issue Test Build"}

  .card.collapsable
    %h2
      Run
      %a.help-bubble{:href => "?help=run"}
        help

    .help{:"aria-hidden" => help != "run" ? "true" : "false"}
      :markdown
        This section describes the process of running the object.

  .card.collapsable.terminal.filled{:"aria-hidden" => "true"}
    %h2
      Run Test
    .terminal.run-test{:tabIndex => "1", :"data-link-text" => "Run Object with Defaults"}
