-# Purpose: Displays the profile for the specified object
-#
-# Locals:  object - The particular object to view.

- workset  = nil if not defined?(workset)
- embedded = false if not defined?(embedded)

- content_for :title do
  #{object.name} [#{object.object_type}]

- if defined?(reviewing) && reviewing
  .card.blue
    %p
      = I18n.t "flash.reviewer"

- if (!defined?(reviewing) || !reviewing) and (storedRevision != object.revision)
  .card.blue
    %p
      = I18n.t "flash.snapshot"
      &nbsp;
      %a{:href => objectURL(object, nil, {:revision => nil, :workset_revision => nil})}<>
        = I18n.t "flash.recent"

-# Render Object Header
= partial(:"objects/header", {:locals => {:embedded => embedded, :reviewing => reviewing, :help => help, :object_info => object_info, :revision => revision, :object => object, :workset => workset}})

-# Render Object Body
= partial(:"objects/show", {:locals => {:viewers => viewers,
                                        :runners => runners,
                                        :preferredViewer => preferredViewer,
                                        :preferredRunner => preferredRunner,
                                        :pagination => pagination,
                                        :reviewing => reviewing,
                                        :help => help,
                                        :tab => tab,
                                        :object_info => object_info,
                                        :revision => revision,
                                        :object => object,
                                        :workset => workset,
                                        :embedded => false,
                                        :path => (defined?(path) ? path : ""),
                                        :fileInfo => (defined?(fileInfo) ? fileInfo : nil),
                                        :data => (defined?(data) ? data : nil),
                                        :data_mime_type => (defined?(data_mime_type) ? data_mime_type : "")}})
