-# Generates a list of objects
-#
-# Locals: objects  - either an array of Occam::Object (or a relation) or an
-#                    array of object infomation (array of hashes).

%ul.information.object-table
  - if objects.nil?
    - objects = []
  - objects.each do |object|
    -# Handle generated items
    -# TODO: place in helper
    - generated_item = {}
    - if !object.is_a?(Hash)
      - revision = object.revision
      - object = object.objectInfo
      - object['revision'] = revision
    - elsif object.has_key?('object') && object['object'].is_a?(Hash)
      -# A generated item object contains metadata about how it was generated
      -# and the item that was generated.
      - generated_item = object
      - object = object['object']

    %li.object{"data-object-type"     => object['type'],
               "data-object-revision" => object['revision'],
               "data-revision"        => generated_item['revision']}
      %h2.type.object.icon{"data-object-type" => object['type'], :class => [Occam::Object.typeClass(object['type'])] + (generated_item['revision'] == object['revision'] ? [] : ["another-revision"])}
        - if object.has_key? 'name'
          #{object['name']}
          %span.small
            #{object['type']}
        - else
          #{object['type']}
      %p
        %a{:href => "/objects/#{object['id']}"}
          = I18n.t 'common.view'
        -# TODO: hmm, need to inspect generated object and see if it has a file
        - if object['file']
          %a{:href => "/objects/#{object['id']}/file"}<
            = I18n.t 'common.download'
        - if object['schema']
          %a{:href => "/objects/#{object['id']}/schema"}<
            = I18n.t 'common.schema'
