-# Generates a preview listing of objects
-#
-# Locals: objects  - either an array of Occam::Object (or a relation) or an
-#                    array of object infomation (array of hashes).

%ul.object-preview-list
  - if objects.nil?
    - objects = []
  - objects.each do |object|
    -# Handle generated items
    -# TODO: place in helper
    - generated_item = object
    - if !object.is_a?(Hash)
      - revision = object.revision
      - object = object.objectInfo
      - object['revision'] = revision
      - generated_item = object
    - elsif object.has_key?('object') && object['object'].is_a?(Hash)
      -# A generated item object contains metadata about how it was generated
      -# and the item that was generated.
      - generated_item = object
      - object = object['object']

    %li.object{"data-object-type"     => object['type'],
               "data-object-revision" => object['revision'],
               "data-revision"        => generated_item['revision']}
      %a{:href => "/objects/#{object['id']}", :alt => I18n.t('common.view')}
        .object-header
          %h2.type.object.icon{"data-object-type" => object['type'], :class => [Occam::Object.typeClass(object['type'])] + (generated_item['revision'] == object['revision'] ? [] : ["another-revision"])}
            #{object['type']}
          - if object['name']
            %p
              #{object['name']}

      - if current_person
        - association = current_person.associationFor(object)
      - else
        - association = Occam::Object.associationFor(object)

      - if association
        - preferredViewer = association.object
      - else
        - preferredViewer = nil

      - puts object
      - puts association
      - puts preferredViewer
      - if preferredViewer
        = partial(:"objects/viewer", :locals => {:viewerObject => preferredViewer,
                                                 :object       => Occam::Object.fromObjectInfo(object),
                                                 :object_info  => object,
                                                 :width        => 300,
                                                 :height       => 250,
                                                 :resizeToAspectRatio                                                   => true,
                                                 :scale        => 2.0,
                                                 :preview      => true,
                                                 :help         => defined?(help) ? help : ""})
