- if run.experiment and run.workset
  %ul.tabs.bubble
    - jobs.each_with_index do |job, index|
      %li.tab{:class => (index == 0) ? "active" : ""}
        %a
          #{run.experiment.workflow['connections'][job.connections.first]["object_realized"].name}
  %ul.tab-panels
    - jobs.each_with_index do |job, index|
      %li.tab-panel{:class => (index == 0) ? "active" : ""}
        .terminal.log-terminal{:tabindex => (job.id + 1), :"data-link-text" => "View Log", :"data-type" => "logs", :"data-job-id" => job.id}
- else
  %p
    Error finding dependent objects for this Run.
